<div class="service-card md-whiteframe-z1" ng-if="profile.services[serviceId].details.id &amp;&amp; ctrl.services[serviceId]">
    <h2>
        {{ctrl.services[serviceId].name}}
        <small>- registered as <em>{{profile.services[serviceId].details.name}}</em></small>
    </h2>

    <p ng-if="!profile.services[serviceId].lastUpdate">
        We haven't look up your profile at {{ctrl.services[serviceId].name}} yet.
    </p>

    <p ng-if="profile.services[serviceId].lastUpdate &amp;&amp; (profile.services[serviceId].badges|spfEmpty)">
        No level completed yet.
    </p>

    <div ng-if="!(profile.services[serviceId].badges|spfEmpty)" class="badges">
        <md-grid-list md-cols="6" md-row-height="4:3" md-gutter="8px">
            <md-grid-tile ng-repeat="badge in profile.services[serviceId].badges" md-rowspan="1" md-colspan="1">
                <div class="badge">
                    <img ng-class="serviceId" ng-src="{{badge.iconUrl}}" alt="{{badge.name}}" title="earned the {{badge.name}} badge." />
                </div>
            </md-grid-tile>
          </md-grid-list>
    </div>

    <p class="last-update" ng-if="profile.services[serviceId].lastUpdate"><small>last update from {{profile.services[serviceId].lastUpdate|date:'medium'}}</small></p>
</div>
