<div class="service-card md-whiteframe-z1" ng-if="profile.services[serviceId].details.id &amp;&amp; ctrl.services[serviceId]">
    <div layout="row">
        <h2 flex>
            <span>{{ctrl.services[serviceId].name}}</span>
            <small> - registered as <em>{{profile.services[serviceId].details.name}}</em></small>
        </h2>

        <md-button class="md-icon-button" aria-label="remove service" ng-click="ctrl.remove(serviceId, profile.services[serviceId].details)" ng-if="ctrl.canRemove()">
            <md-icon md-svg-icon="highlight-remove"></md-icon>
        </md-button>
    </div>

    <p ng-if="profile.services[serviceId].badges | spfEmpty">
        No level completed yet.
    </p>

    <div ng-if="!(profile.services[serviceId].badges|spfEmpty)" class="badges">
        <md-grid-list md-cols="6" md-row-height="3:4" md-gutter="10px">
            <md-grid-tile ng-repeat="badge in profile.services[serviceId].badges" md-rowspan="1" md-colspan="1">
                <div class="badge">
                    <img ng-class="serviceId" ng-src="{{badge.iconUrl}}" alt="{{badge.name}}" title="earned the {{badge.name}} badge." />
                </div>
            </md-grid-tile>
          </md-grid-list>
    </div>

    <div layout="row" layout-align="start center">
        <p class="last-update" flex>
            <small ng-if="profile.services[serviceId].lastUpdate">
                last update from {{profile.services[serviceId].lastUpdate|date:'medium'}}
            </small>
        </p>
        <md-button class="md-icon-button" aria-label="Update" ng-if="ctrl.canUpdate()">
          <md-icon md-svg-icon="loop" ng-click="ctrl.update()"></md-icon>
        </md-button>
    </div>
    
</div>
