<div class="spf-card md-whiteframe-z1">
    <h2><a ng-href="{{ctrl.singpathUrl}}">SingPath</a></h2>

    <div layout="column" ng-if="!ctrl.loading">

        <div class="language java" flex>
            <div class="language-icon">
                <md-icon md-svg-icon="language:java" alt="java"></md-icon>
                {{ctrl.stats.user.java || 0}} / {{ctrl.stats.total.java || 0}} problems solved
            </div>
        </div>

        <div class="language python" flex>
            <div class="language-icon">
                <md-icon md-svg-icon="language:python" alt="python"></md-icon>
                {{ctrl.stats.user.python || 0}} / {{ctrl.stats.total.python || 0}} problems solved
            </div>
        </div>

        <div class="language javascript" flex>
            <div class="language-icon">
                <md-icon md-svg-icon="language:javascript" alt="angularjs"></md-icon>
                {{ctrl.stats.user.javascript || 0}} / {{ctrl.stats.total.javascript || 0}} problems solved
            </div>
        </div>

    </div>
</div>
