<md-content flex class="md-padding">

    <div ng-if="!ctrl.profile || ctrl.profileNeedsUpdate">
        <h1>Profile Setup</h1>

        <form name="publicIdForm" ng-submit="ctrl.setPublicId(ctrl.currentUser)">
            <spf-sign-form current-user="ctrl.currentUser"></spf-sign-form>

            <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-raised md-primary" ng-disabled="publicIdForm.$invalid || ctrl.settingPublicId">
                    Save
                </md-button>
            </div>

        </form>
    </div>

    <div ng-if="ctrl.profile &amp;&amp; !ctrl.profileNeedsUpdate" layout="row" layout-wrap>
        <div class="profile" flex="33" flex-sm="100">
            <div class="md-whiteframe-z1 avatar">
                <img ng-src="{{ctrl.profile.user.gravatar}}?s=200&amp;r=g&amp;d=mm" alt="user avatar">
                <h2>
                    {{ctrl.profile.user.displayName}}
                </h2>
                <h3 ng-if="ctrl.profile.user.school &amp;&amp; ctrl.profile.user.school.type != 'Other'" layout="row" layout-wrap layout-align="center center">
                    <span flex-gt-md="33" flex="100" ng-if="ctrl.profile.user.school.iconUrl">
                        <img ng-src="{{ctrl.profile.user.school.iconUrl}}" alt="user school crest">
                    </span>
                    <span flex-gt-md="67" flex="100">{{ctrl.profile.user.school.name}}</span>
                </h3>
            </div>
        </div>

        <div flex="67" flex-sm="100">

            <div clm-spf-profile="ctrl.profile.$id"></div>
            <div clm-profile="ctrl.profile" clm-service-id="codeCombat" clm-current-user="ctrl.currentUserProfile"></div>
            <div clm-profile="ctrl.profile" clm-service-id="codeSchool" clm-current-user="ctrl.currentUserProfile"></div>
            <div clm-profile="ctrl.profile" clm-service-id="treeHouse" clm-current-user="ctrl.currentUserProfile"></div>

            <div id="register-codecombat" ng-if="!ctrl.profile.services.codeCombat.details.id" class="register-service md-whiteframe-z1">
                <h2>Code Combat</h2>

                <p>
                    <a href="http://codecombat.com/" target="_blank">Code Combat</a>,
                    learn to Code JavaScript by Playing a Game.
                </p>

                <p ng-if="!ctrl.lookUp.codeCombat.id">
                    <a href="" ng-click="ctrl.lookUp.codeCombat.find()">
                        Look up my Code Combat details
                    </a>
                </p>
            </div>

            <div id="register-codeschool" ng-if="!ctrl.profile.services.codeSchool.details.id" class="register-service md-whiteframe-z1">
                <h2>Code School</h2>

                <p>
                    <a href="https://www.codeschool.com/" target="_blank">Code School</a>
                    teaches web technologies in the comfort of your browser with video lessons,
                    coding challenges, and screencasts. Registering is free, and the provides
                    free content to try out.
                </p>

                <form name="codeSchoolForm" class="form-horizontal" ng-submit="ctrl.lookUp.codeSchool.save()">
                    <div layout="row">
                        <md-input-container flex>
                            <label for="cc-username">Username</label>
                            <input
                                type="text" id="cc-username"
                                name="ccUsername" placeholder="Your Code School username"
                                ng-model="ctrl.lookUp.codeSchool.id"
                                ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }"
                                clm-service-user-id-exists="codeSchool"
                                clm-service-user-id-uniq="codeSchool"
                            />

                            <div ng-messages="codeSchoolForm.ccUsername.$error">
                                <div ng-message="clmServiceUserIdExists">
                                    We couldn't find the profile for this username on Code School.
                                    Misspell? Is it public?
                                </div>
                            </div>
                        </md-input-container>

                        <md-button type="submit" class="md-raised md-primary" ng-disabled="!codeSchoolForm.$valid || codeSchoolForm.$pristine">
                            Save
                        </md-button>
                    </div>
                    <p ng-if="!codeSchoolForm.ccUsername.$valid || codeSchoolForm.ccUsername.$pristine">
                        You should visit your
                        <a href="https://www.codeschool.com/account/edit" target="_blank">Code School profile page</a>,
                        set a username,
                        set your report card as public by unticking the "Keep Report Card Private?"
                        and save.
                    </p>
                </form>
            </div>

            <div id="register-treehouse" class="register-service md-whiteframe-z1">
                <h2>Treehouse</h2>

                <p>
                    Learn HTML, CSS, iPhone apps &amp; more at
                    <a href="http://www.teamtreehouse.com/signup_code/singapore" target="_blank">
                        Treehouse
                    </a>.
                    Treehouse offers a 14 days free trial.
                </p>

            </div>

        </div>
    </div>

</md-content>

