<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>

  </head>

  <body ng-controller="MyController">

    <!-- SingPathFire Prototype -->
    <div>
      <header>SingPathFire Prototype</header>

      TBD - Add login support and remove references to user chris. <br>

      <h3>Add Problem</h3>

      Title: <input ng-model='newproblem.title' type='text' id='titleInput' placeholder='enter a problem title...' ng-init="newproblem.title='Test Problem'"><br>
      Description: <input ng-model='newproblem.description' ng-init="newproblem.description='descript..'" type='text' id='nameInput' placeholder='enter a username...'><br>
      Tests: 
      <textarea ng-model="newproblem.tests" ng-init="newproblem.tests='>>> b\n2'"></textarea><br>
      <input type="submit" value="Create Problem" ng-click="addProblem()"><br>

      <h3>Problems</h3>

      <ul>
        <li ng-repeat='problem in problems'>
          <strong>{{problem.body}}</strong>
          {{problem.title}}, {{problem.description}} {{problem.key()}}<input type="submit" value="delete" ng-click="deleteProblem($index)">
        </li>
      </ul>

      <h3>Add Solution</h3>
      Select a problem to solve. 
      
      <select ng-options="item.$id as item.title for item in problems" ng-model="problemKey" ng-change="setCurrentProblem(problemKey)"></select>
      
      <br>
      Problem: {{problemKey}}<br>
      Title: {{currentProblem.title}}<br>
      Description: {{currentProblem.description}}<br>
      Solution: <textarea ng-model="newsolution"></textarea><br>
      Current Solution = {{currentSolution.solution}}<br>

      <input type="submit" ng-click="verify('chris', problemKey, newsolution)"><br>      
      
      <h3>Solutions</h3> - users last solve attempt. 
      <ul>
        <li ng-repeat='(userKey, value) in solutions'>
          User: {{userKey}}
          <ol ng-repeat='(problemKey, solution) in value'>
            <li>
              problem: {{problemKey}}, solution: {{solution}}
              <!--<input type="submit" value="Check Solution" ng-click="verify(userKey, problemKey)">
              <input type="submit" value="Mark Solved" ng-click="markSolved(userKey,problemKey)">-->
            </li>
          </ol>

        </li>
      </ul>

      <h3>Solved</h3> - tracks frist time solves. 
      <ul>
        <li ng-repeat='(userKey, value) in solved'>
          User: {{userKey}}
          <ol ng-repeat='(problemKey, solution) in value'>
            <li>
              problem: {{problemKey}}, solution: {{solution}}
              <input type="submit" value="delete" ng-click="deleteSolved(userKey, problemKey)">
            </li>
          </ol>

        </li>
      </ul>

      <h3>Verify Requests</h3> - tracks requested verification for verifier to process. 
      The GAE Verifier will monitor the verifyRequest object and process any requests added to this object by users. There will only ever be 1 request per user. 
      <ul>
        <li ng-repeat='(userKey, value) in verifyRequests'>
          User: {{userKey}}, problemKey: {{value.problemKey}} 
          <input type="submit" value="Simulte Verifify Pass" ng-click="simulateVerify(userKey,value.problemKey,true)">
          <input type="submit" value="Simulte Verify Fail" ng-click="simulateVerify(userKey,value.problemKey,false)">
        </li>
      </ul>

    </div>



    <script>
      var myApp = angular.module("myApp", ["firebase"]);

      myApp.controller('MyController', ['$scope', '$firebase',
        function($scope, $firebase) {

          //CREATE A FIREBASE REFERENCE
          var ref = new Firebase("https://singpath.firebaseio.com");
          $scope.root =  $firebase(ref).$asObject();

          $scope.chris = $firebase(ref.child("solution").child("chris")).$asObject();
          $scope.problems = $firebase(ref.child("problem")).$asArray();
          $scope.solutions = $firebase(ref.child("solution")).$asObject();
          $scope.solved = $firebase(ref.child("solved")).$asObject();
          $scope.verifyRequests = $firebase(ref.child("verifyRequest")).$asObject();
          
          $scope.currentProblem = null;
          
          //ADD PROBLEM METHOD
          $scope.addProblem = function() {
              //ADD TO FIREBASE
              $scope.problems.$add($scope.newproblem);
          }
          $scope.deleteProblem = function(id) {
              //ADD TO FIREBASE
              $scope.problems.$remove(id);
          }
          
          $scope.setCurrentProblem = function(problemKey) {
              //ADD TO FIREBASE
              console.log("the problem key was "+problemKey);
              $scope.currentProblem = $firebase(ref.child("problem").child(problemKey)).$asObject();
              
              //Pre-fill the last solution as a start if there was one. 
              //HARDCODING to user chris for now. 
              ref.child("solution/"+"chris"+"/"+problemKey).transaction(function(currentValue) {
                  $scope.newsolution = "Type your solution here.";
                  if (currentValue) {
                    $scope.newsolution = currentValue.solution;
                  }
              });


          }
          
          //Mark all as unsolved for now. 
          $scope.verify = function(userKey, problemKey, newsolution) {
              //Request that a solution be verifed and create a new record for it. 
              ref.child("solution/"+userKey+"/"+problemKey).transaction(function(currentValue) {
                  return {"isSolved": false, "solution":newsolution, results:{}};
              });

              //Create a verification request that will be delete by the verfier after processing.
              ref.child("verifyRequest/"+userKey).transaction(function(currentValue) {
                  return {"problemKey": problemKey, "status": "requested"};
              });
          }

          $scope.markSolved = function(userKey, problemKey) {
              //Make solved and solution  solved=true
              ref.child("solved/"+userKey+"/"+problemKey+"/isSolved").transaction(function(currentValue) {
                  return true;
              });
              ref.child("solution/"+userKey+"/"+problemKey+"/isSolved").transaction(function(currentValue) {
                  return true;
              });
          }
          $scope.deleteSolved = function(userKey, problemKey) {
            //Delete the solved records to reset the need to solve a problem. 
            var temp = $firebase(ref.child("solved").child("chris").child(problemKey));
            temp.$remove();
          }
          $scope.simulateVerify = function(userKey,problemKey,isSolved) {
            //Mark the verification as started. 
            ref.child("verifyRequest/"+userKey+"/status").transaction(function(currentValue) {
                  return "starting verification";
            });

            if (isSolved){
              //Add results to solution
              $scope.markSolved(userKey, problemKey);
            }
            else{
                //Add results to solution
                ref.child("solution/"+userKey+"/"+problemKey+"/isSolved").transaction(function(currentValue) {
                  return false;
                });

            }
            //Log the result somewhere before deleting. 
            //Delete verify request. 
            var temp = $firebase(ref.child("verifyRequest").child(userKey));
            temp.$remove(); 
          }

        }
      ]);
    </script>
  </body>
</html>