<div class="row">
    <div class="col-sm-8">
        <h1>Events</h1>

        <ul class="list-unstyled">
            <li ng-show="!ctrl.events || ctrl.events.length == 0">No event.</li>
            <li ng-repeat="e in (ctrl.events | orderBy:'createdAt':true) track by e.$id">
                <a href="#/class-mentors/events/{{e.$id}}">{{e.name}}</a><small>, created by {{e.ownerName}} ({{e.createdAt|date}})</small>.
            </li>
        </ul>
    </div>

    <div class="col-sm-4">
        <h2>New event</h2>
        <form name="newEventForm" ng-submit="ctrl.save(ctrl.events, ctrl.newEvent.data, ctrl.newEvent.password, newEventForm)">
            <div>
                <input type="hidden" name="eventId" ng-model="ctrl.auth.user.uid" ng-required="true">
                <div class="text-warning" ng-messages="newEventForm.eventId.$error">
                    <div ng-message="required">You need to login to create a new event.</div>
                </div>
            </div>
            <fieldset ng-if="newEventForm.eventId.$valid">
                <legend>New Event</legend>

                <div class="form-group">
                    <label class="control-label" for="event-name">Event Name:</label>
                    <input name="eventName" type="text" class="form-control" id="event-name" ng-model="ctrl.newEvent.data.name" ng-minlength="3" ng-maxlength="30" ng-required="true" spf-bs-valid-class="true" />
                    <span class="text-warning" ng-messages="newEventForm.eventName.$error">
                        <span class="help-block" ng-message="required">An event should have a name.</span>
                        <span class="help-block" ng-message="minlength">An event name should shouldn't be shorten than 3 characters.</span>
                        <span class="help-block" ng-message="maxlength">An event name should shouldn't be longer than 30 characters.</span>
                    </span>
                </div>

                <div class="form-group">
                    <label class="control-label" for="event-pw">Event Password:</label>
                    <input name="eventPw" type="text" class="form-control" id="event-pw" ng-model="ctrl.newEvent.password" ng-required="true" spf-bs-valid-class="true" />
                    <span class="text-warning" ng-messages="newEventForm.eventPw.$error">
                        <span class="help-block" ng-message="required">An event should have a password.</span>
                    </span>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" class=" btn btn-primary btn-block"
                            ng-disabled="newEventForm.$invalid || ctrl.creatingEvent"
                        >
                            Create
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-default btn-block"
                            ng-click="ctrl.reset(newEventForm)"
                            ng-disabled="ctrl.creatingEvent || newEventForm.$pristine"
                        >
                            Reset
                        </button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
