<meta name="robots" content="noindex">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Singapore School Rankings</title>
  <link rel="stylesheet" href="../vendor/bootstrap.min.css" type="text/css" /> 
  <script src="../vendor/angular/angular.js" type="text/javascript"></script>
 
</head>

<body ng-app="schools">
  <div class="panel panel-default" ng-controller="TableCtrl" 
       ng-init="predicate='-totalBadges'">

  <h2>Select School
  <select ng-model="schoolKey" 
          ng-options="k as k for (k, v) in theSchools"
          ng-change="get_students(schoolKey)">
  </select>
</h2>
 (<a href="schoolStats.html">View list of all schools</a>)
  <br>
    <table class="table table-striped"> 
      <tr>
        <th></th>
        <th>Crest</th>
        <th><a href="" ng-click="predicate = 'name'">Name</a></th>
        <th><a href="" ng-click="predicate = '-totalBadges'">Total Badges</a></th>
        <th><a href="" ng-click="predicate = '-numCodeCombatBadges'">Code Combat</a></th>
        <th><a href="" ng-click="predicate = '-numCodeSchoolBadges'">Code School</a></th>
        <th><a href="" ng-click="predicate = '-numSingPathBadges'">SingPath</a></th>

      </tr>

      <tr ng-repeat="student in students | orderBy : predicate"> 
        <td>{{$index+1}}</td>
        <td><img height="24" width="24" ng-src="{{theSchools[schoolKey].crest}}"></td>
        <td><a href="http://www.classmentors.com/#/profile/{{student.userkey}}">{{student.details.user.displayName}}</a></td>
        <td>{{student.totalBadges}}</td>
        <td>{{student.numCodeCombatBadges}}</td>
        <td>{{student.numCodeSchoolBadges}}</td>
        <td></td>
      </tr>
    </table>
    <hr>

<h3>School Level Completion</h3>
  <table class="table table-striped">
    <tr>
      <th></th>
      <th></th>
      <th ng-repeat="badge in practicedSchoolBadges">
          {{serviceBadges[badge.serviceKey][badge.badge].name}}
      </th>
    </tr> 
    <tr>
      <th></th>
      <th></th>
      <td ng-repeat="badge in practicedSchoolBadges">
          {{badge.serviceName}}
      </td>
    </tr> 

    <tr>

      <th>User</th>
      <th>Total Badges</th>
      <th ng-repeat="badge in practicedSchoolBadges">
          {{badge.count}}
      </th>
    </tr>  
    <tr ng-repeat="student in students | orderBy : '-totalBadges'">
      <td>{{student.details.user.displayName}}</td>
      <td>{{student.totalBadges}}</td>
      
      <td ng-repeat="badge in practicedSchoolBadges">
          <span ng-show="student.details.services[badge.serviceKey].badges[badge.badge]">Ind<span>
      </td>
      </td>
    <tr>


  <table>
  <hr>
<h3>School Skills Practiced</h3>
  <table class="table table-striped">
    <tr>
      <th></th>
      <th></th>
      <th ng-repeat="skill in practicedSchoolSkills">
          {{skill.skill}}
      </th>
    </tr> 
    <tr>
      <th></th>
      <th></th>
      <td ng-repeat="skill in practicedSchoolSkills">
          {{skill.skillLanguage}}
      </td>
    </tr> 

    <tr>

      <th>User</th>
      <th>Total</th>
      <th ng-repeat="skill in practicedSchoolSkills">
          {{skill.count}}
      </th>
    </tr>  
    <tr ng-repeat="student in students | orderBy : '-totalBadges'">
      <td>{{student.details.user.displayName}}</td>
      <td></td>
      
      <td ng-repeat="skill in practicedSchoolSkills">
          <span ng-show="skillsByStudent[skill.skillLanguage][skill.skill][student.details.user.displayName]">Ind<span>
      </td>
      </td>
    <tr>


  <table>
  
  <b>TBD: Add certified task tracking by adding task certifications object to Firebase.<br>
   Certified tasks will result in certified skills.  </b><br>
<script>

var app = angular.module("schools", []);

/*var app = angular.module("schools", ["firebase","chart.js"])*/

app.controller("TableCtrl", ['$scope','$http', '$location',"$q", function ($scope, $http, $location, $q) {
  
  $scope.location = $location; 
  console.log($scope.location.search());
  //Load ranking for NUS HS by default. 
  if("school" in $location.search()){
    $scope.schoolKey=$location.search()['school'];     
  }
  else{
    $scope.schoolKey='NUS High School';
  }

  $scope.badgesBySchool = {}

  $scope.get_students = function(schoolKey){
      $scope.students = [];
      $scope.allClassSkills = {};
      $scope.skillsByStudent = {};

      for (prop in $scope.example_user_data) {
          if (!$scope.example_user_data.hasOwnProperty(prop)) {
            //The current property is not a direct property of p
            continue;
          }

          //Do your logic with the property here
          if('user' in $scope.example_user_data[prop]){
             //console.log($scope.example_user_data[prop].user.displayName);
             var username = $scope.example_user_data[prop].user.displayName;

             if('school' in $scope.example_user_data[prop].user){
                //console.log($scope.example_user_data[prop].user.school.name);
                var schoolName = $scope.example_user_data[prop].user.school.name;
                
                if(schoolName == $scope.theSchools[schoolKey].name){
                  var theStudent = {"details": $scope.example_user_data[prop],
                                    "userkey": prop,
                                    "numCodeCombatBadges":0,
                                    "numCodeSchoolBadges":0}

                    //Count all badges by school. 
                  if (schoolName in $scope.badgesBySchool){
                    //
                  }
                  else{
                    $scope.badgesBySchool[schoolName] = {'codeCombat':{}, 'codeSchool':{}};
                  }

                  //Loop through the students badges and update records. 
                
                  //Count Code Combat Badges
                  if ("services" in $scope.example_user_data[prop] && "codeCombat" in $scope.example_user_data[prop].services && "badges" in $scope.example_user_data[prop].services.codeCombat){
                    

                    theStudent.numCodeCombatBadges = Object.keys($scope.example_user_data[prop].services.codeCombat.badges).length;

                    
                    for (badge in $scope.example_user_data[prop].services.codeCombat.badges) {
                      if ($scope.example_user_data[prop].services.codeCombat.badges.hasOwnProperty(badge)) {
                        
                        //Count all badges by school. 
                        if (badge in $scope.badgesBySchool[schoolName].codeCombat){
                          $scope.badgesBySchool[schoolName].codeCombat[badge] += 1;
                        }
                        else{
                          $scope.badgesBySchool[schoolName].codeCombat[badge] = 1;

                        }

                      }
                       

                    }
                    
                  }
                  //Count Code School Badges
                  if ("services" in $scope.example_user_data[prop] && "codeSchool" in $scope.example_user_data[prop].services && "badges" in $scope.example_user_data[prop].services.codeSchool){
                    theStudent.numCodeSchoolBadges = Object.keys($scope.example_user_data[prop].services.codeSchool.badges).length;

                    //Count the Code School badges.
                    for (badge in $scope.example_user_data[prop].services.codeSchool.badges) {
                      if ($scope.example_user_data[prop].services.codeSchool.badges.hasOwnProperty(badge)) {          
                        if (badge in $scope.badgesBySchool[schoolName].codeSchool){
                          $scope.badgesBySchool[schoolName].codeSchool[badge] += 1;
                        }
                        else{
                          $scope.badgesBySchool[schoolName].codeSchool[badge] = 1;

                        }
                        
                        //Some badges may not be supported by system yet. 
                        if(badge in $scope.serviceBadges["codeSchool"] && "name" in $scope.serviceBadges["codeSchool"][badge]){ 
                          
                          //if supported, check for skill and loop through skills to count. 
                          if("skills" in $scope.serviceBadges["codeSchool"][badge]){
                            for (skillLanguage in $scope.serviceBadges["codeSchool"][badge].skills) {
                              if ($scope.serviceBadges["codeSchool"][badge].skills.hasOwnProperty(skillLanguage)) {
                                  //console.log(skillLanguage);
                                  for (i = 0; i < $scope.serviceBadges["codeSchool"][badge].skills[skillLanguage].length; i++) {
                                    


                                    if (skillLanguage in $scope.allClassSkills){

                                    }
                                    else{
                                      $scope.allClassSkills[skillLanguage] = {};
                                    }

                                    var theSkill = $scope.serviceBadges["codeSchool"][badge].skills[skillLanguage][i];
                                    
                                    if (theSkill in $scope.allClassSkills[skillLanguage] ){
                                      $scope.allClassSkills[skillLanguage][theSkill] += 1;
                                    }
                                    else{
                                      $scope.allClassSkills[skillLanguage][theSkill] = 1;
                                    }

                                    //The save by student to be able to lookup in table.
                                    if(skillLanguage in $scope.skillsByStudent){
                                      if (theSkill in $scope.skillsByStudent[skillLanguage]){
                                        $scope.skillsByStudent[skillLanguage][theSkill][username] = true;
                                      }
                                      else{
                                        $scope.skillsByStudent[skillLanguage][theSkill] = {"username":true}; 
                                      }
                                    } 
                                    else{

                                      $scope.skillsByStudent[skillLanguage] = {theSkill: {"username":true}}; 
                                    }

                                    

                                  }
                              }
                            }


                          }

                        }

                      }
                    }


                  }
                  
                  theStudent.totalBadges = theStudent.numCodeCombatBadges + theStudent.numCodeSchoolBadges;
                  //Push the entire object for now. 
                  $scope.students.push(theStudent);
                }


            }
            else{
              console.log("no school "+username+" yob "+$scope.example_user_data[prop].user.yearOfBirth);
            }
          }

      }

      //Create an array of headers for levels table. 
      $scope.practicedSchoolBadges = [];
      if($scope.badgeBySchool && $scope.schoolKey in $scope.badgeBySchool){
        if ('codeSchool' in $scope.badgesBySchool[$scope.schoolKey]){
          for (badgeKey in $scope.badgesBySchool[$scope.schoolKey].codeSchool) {
            
            if ($scope.badgesBySchool[$scope.schoolKey].codeSchool.hasOwnProperty(badgeKey)) {
              //The current property is a direct property of p
           

              var badgeDetails = {'badge':badgeKey, 
                              'serviceName': 'Code School',
                              'serviceKey':'codeSchool',
                              'count': $scope.badgesBySchool[$scope.schoolKey].codeSchool[badgeKey]};

              $scope.practicedSchoolBadges.push(badgeDetails);

            }

          }
        }
        
        if ('codeCombat' in $scope.badgesBySchool[$scope.schoolKey]){
          for (badgeKey in $scope.badgesBySchool[$scope.schoolKey].codeCombat) {
            
            if ($scope.badgesBySchool[$scope.schoolKey].codeCombat.hasOwnProperty(badgeKey)) {
              //The current property is a direct property of p
           
              var badgeDetails = {'badge':badgeKey, 
                              'serviceName': 'Code Combat',
                              'serviceKey':'codeCombat',
                              'count': $scope.badgesBySchool[$scope.schoolKey].codeCombat[badgeKey]};

              $scope.practicedSchoolBadges.push(badgeDetails);
            }

          }
        }
      }
      //Reverse sort of an array by key
      function sortByKey(array, key) {
        return array.sort(function(a, b) {
            var x = a[key]; var y = b[key];
            return ((x > y) ? -1 : ((x < y) ? 1 : 0));
        });
      } 

      $scope.practicedSchoolBadges = sortByKey($scope.practicedSchoolBadges, "count");

      //Track skills
      $scope.practicedSchoolSkills = [];
      
      //$scope.allClassSkills[skillLanguage][theSkill] = 1;

      for (skillLanguage in $scope.allClassSkills) {
        if ($scope.allClassSkills.hasOwnProperty(skillLanguage)){
          for (skill in $scope.allClassSkills[skillLanguage]) {
            if ($scope.allClassSkills[skillLanguage].hasOwnProperty(skill)){
              //console.log($scope.allClassSkills[skillLanguage][skill]));
              var skillDetails = {'skillLanguage':skillLanguage, 
                                'skill': skill,
                                'count': $scope.allClassSkills[skillLanguage][skill]};

              $scope.practicedSchoolSkills.push(skillDetails);

            }
          }
        }
      }

    $scope.practicedSchoolSkills = sortByKey($scope.practicedSchoolSkills, "count");

      console.log("School processing finished.");
  }

  //Fetch school list and all user profiles. 
  //Todo: fetch only user profiles for the selected school. 
  $scope.promise1 = $http.get('https://singpath.firebaseio.com/classMentors/schools.json', {cache: false});
  $scope.promise2 = $http.get('https://singpath.firebaseio.com/classMentors/userProfiles.json', {'cache': false});
  $scope.promise3 = $http.get('https://singpath.firebaseio.com/classMentors/badges.json', {'cache': false});
  

  $q.all([$scope.promise1, $scope.promise2, $scope.promise3]).then(function(values) {
    $scope.theSchools = values[0].data;
    $scope.example_user_data = values[1].data;
    $scope.serviceBadges = values[2].data;
    
    numUsers = Object.keys($scope.example_user_data).length;
    console.log("Fetched "+numUsers+" user records for analyis.");
    $scope.get_students($scope.schoolKey); 

  });


}]); 


</script>
</body>
</html>

