<meta name="robots" content="noindex">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Singapore School Registration Stats</title>
  <link rel="stylesheet" href=
  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" type=
  "text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"
  type="text/javascript">
</script>
    
    <!--Google Analytics -->
    <script src="https://dl.dropboxusercontent.com/u/4972572/temp/angulartics-master/dist/angulartics.min.js"></script>
    <script src="https://dl.dropboxusercontent.com/u/4972572/temp/angulartics-master/dist/angulartics-ga.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-60478752-1', { 'cookieDomain': 'none' });
    </script>

</head>

<body ng-app="schools">
  <div class="panel panel-default" ng-controller="TableCtrl" ng-init="predicate='-registered'">
    <table class="table table-striped">
      <tr class="bold">  
          <th>Totals</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>{{numCoders}}</th> 
          <th></th>
          <th></th>
          <th></th>  
          <th></th>
          <th></th>
          <th></th>    
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Sec1</th>
        <th>Sec2</th>
        <th>Sec3</th>
        <th>Sec4</th>
        <th>JC1</th>
        <th>JC2</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>Crest</th>
        <th><a href="" analytics-on="click" analytics-event="Name Sort" analytics-category="Stats Table" ng-click="predicate = 'name'">School</a></th>
        <th>
          <a href="" analytics-on="click" analytics-event="Integrated Sort" analytics-category="Stats Table" ng-click="predicate = 'group'">School Type</a>
          <a href="" analytics-on="click" analytics-event="Integrated Sort" analytics-category="Stats Table" ng-click="predicate = '-group'"> (-)</a>
        </th>
        <th>2002</th>
        <th>2001</th>
        <th>2000</th>
        <th>1999</th>
        <th>1998</th>
        <th>1997</th>
        <th>
          <a href="" analytics-on="click" analytics-event="Badge Earners" analytics-category="Stats Table" ng-click="predicate = '-registered'">Total Registered</a>
          <a href="" analytics-on="click" analytics-event="Badge Earners" analytics-category="Stats Table" ng-click="predicate = 'registered'"> (-) </a>
        </th>
        <th>Code Combat Reg</th>
        <th>Finished Code Combat Level</th>
        <th>Solved SingPath Problem</th>
        <th>Joined a Class</th>
        <th>Skill Used in Class</th>
        <th>Certified Skill Usage</th>
      </tr>


      <tr ng-repeat="school in schools | orderBy : predicate" ng-show="school.name"> 
        <td><img height="24" width="24" title="{{school.name}}" ng-src="{{school.crest}}"></td>
        <td>{{school.name}}</td>
        <td>{{school.group}}</td>
        <td><span ng-show="school.integrated || school.group=='Secondary'">{{0}}</span>
          <span ng-hide="school.integrated || school.group=='Secondary'">-</span></td>
        <td><span ng-show="school.integrated || school.group=='Secondary'">{{0}}</span>
          <span ng-hide="school.integrated || school.group=='Secondary'">-</span></td>
        <td><span ng-show="school.integrated || school.group=='Secondary'">{{0}}</span>
          <span ng-hide="school.integrated || school.group=='Secondary'">-</span></td>
        <td><span ng-show="school.integrated || school.group=='Secondary'">{{0}}</span>
          <span ng-hide="school.integrated || school.group=='Secondary'">-</span></td>
        <td ng-show="school.group=='Junior College' || school.group=='Polytechnic'  ">{{0}}</td>
        <td ng-hide="school.group=='Junior College' || school.group=='Polytechnic'  ">-</td>
        
        <td ng-show="school.group=='Junior College' || school.group=='Polytechnic'">{{0}}</td>
        <td ng-hide="school.group=='Junior College' || school.group=='Polytechnic'">-</td>
        <td>{{school.registered}}</td>
        <td>{{school.codeCombatRegistered}}</td>
        <td>{{school.codeCombatBadgeEarners}}</td>
        <td>0</td>
        <td>0</td>
        <td>0</td> 
        <td>0</td>        
      </tr>
    </table>
    <br>
    Registerd by school {{registeredBySchool}}<br>
    Code Combat Registrations {{ codeCombatRegisteredBySchool}}<br>
    Code Combat Badge Earners {{ codeCombatBadgeBySchool}}

<script id="jsbin-javascript">

var app = angular.module("schools", ['angulartics', 'angulartics.google.analytics']).config(function ($analyticsProvider) {
            $analyticsProvider.firstPageview(true); 
            $analyticsProvider.withAutoBase(true);  
    });

/*var app = angular.module("schools", ["firebase","chart.js"])*/

app.controller("TableCtrl", ['$scope','$http', function ($scope, $http) {
  
  $scope.registeredBySchool = {};
  $scope.codeCombatRegisteredBySchool = {};
  $scope.codeCombatBadgeBySchool = {};
  $scope.solvedSingPathProblemBySchool = {};
  $scope.joinedAClassBySchool = {};
  $scope.skillUsedInClassBySchool = {};
  $scope.certifiedSkillUsageBySchool = {};

  $scope.numCoders = 0;
   
  //This is where the work would be done to assemble these stats from the REST API. 
  $scope.get_totals = function(){
       $scope.numCoders = 0;

       for(var i=0; i<$scope.schools.length; i++){
         if($scope.schools[i].badgeEarners){
           $scope.numCoders += $scope.schools[i].badgeEarners;
         }
       }

       for (prop in $scope.example_user_data) {
          if (!$scope.example_user_data.hasOwnProperty(prop)) {
            //The current property is not a direct property of p
            continue;
          }
          //Do your logic with the property here
          if('user' in $scope.example_user_data[prop]){
             //console.log($scope.example_user_data[prop].user.displayName);
             if('school' in $scope.example_user_data[prop].user){
                //console.log($scope.example_user_data[prop].user.school.name);
                var schoolName = $scope.example_user_data[prop].user.school.name;
                //Increment the value for the school cohort.
                
                //Increment the value for the school. 
                if (schoolName in $scope.registeredBySchool){
                  $scope.registeredBySchool[schoolName] += 1;
                }
                else{
                  $scope.registeredBySchool[schoolName] = 1;
                }

                //Check for Code Combat Registration
                if ("codeCombat" in $scope.example_user_data[prop].services){

                  if(schoolName in $scope.codeCombatRegisteredBySchool){
                    $scope.codeCombatRegisteredBySchool[schoolName] += 1;
                  }
                  else{
                    $scope.codeCombatRegisteredBySchool[schoolName] = 1;
                  }

                  //Check to see if any badges have been earned. 
                  if("badges" in $scope.example_user_data[prop].services.codeCombat){

                    if(schoolName in $scope.codeCombatBadgeBySchool){
                      $scope.codeCombatBadgeBySchool[schoolName] += 1;
                    }
                    else{
                      $scope.codeCombatBadgeBySchool[schoolName] = 1;
                    }

                  }
                  

                }

              }
          }
       }

       //Update the school list with the number of users registered per school. 
       for(var i=0; i<$scope.schools.length; i++){
          //console.log($scope.schools[i].name);
          if ($scope.schools[i].name in $scope.registeredBySchool){
              console.log("****** "+$scope.schools[i].name);
              $scope.schools[i].registered = $scope.registeredBySchool[$scope.schools[i].name];
          }
          else{
            $scope.schools[i].registered = 0;
          }

          //Update the school list with the number of code combat registrations. 
          if ($scope.schools[i].name in $scope.codeCombatRegisteredBySchool){
              $scope.schools[i].codeCombatRegistered = $scope.codeCombatRegisteredBySchool[$scope.schools[i].name];
          }
          else{
            $scope.schools[i].codeCombatRegistered = 0;
          }

          //Update the school list with the number of code combat badge earners. 
          if ($scope.schools[i].name in $scope.codeCombatBadgeBySchool){
              $scope.schools[i].codeCombatBadgeEarners = $scope.codeCombatBadgeBySchool[$scope.schools[i].name];
          }
          else{
            $scope.schools[i].codeCombatBadgeEarners = 0;
          }


          
       }
  };

  //Get the lastes user profile data and calculate the totals. 
  $http.get('https://singpath.firebaseio.com/classMentors/userProfiles.json')
       .then(function(res){
          $scope.example_user_data = res.data;
          $scope.get_totals();                
  });

  $scope.schools = [
    {
      "ambassador": "Justin Leong",
      "badgeEarners": 30,
      "crest": "../assets/crests/Republic_Poly.jpg",
      "group": "Polytechnic",
      "id": "2",
      "name": "Republic Polytechnic",
      "numbBadges": 858,
      "participating": 66,
      "size": 14995
    },
    {
      "badgeEarners": 16,
      "crest": "../assets/crests/Temasek_Poly.png",
      "group": "Polytechnic",
      "id": "3",
      "name": "Temasek Polytechnic",
      "numbBadges": 467,
      "participating": 27,
      "size": 16250
    },
    {
      "ambassador": "Melvin Foo",
      "badgeEarners": 50,
      "crest": "../assets/crests/DunmanHighSchoolCrest.png",
      "group": "Junior College",
      "id": "5",
      "integrated": true,
      "name": "Dunman High School",
      "numbBadges": 3317,
      "participating": 45,
      "size": 800
    },
    {
      "ambassador": "Wilson Hartanto Hasan",
      "badgeEarners": 25,
      "crest": "../assets/crests/Pionerr_JC.jpg",
      "group": "Junior College",
      "id": "6",
      "name": "Pioneer Junior College",
      "numbBadges": 1406,
      "participating": 42,
      "size": 1730
    },
    {
      "ambassador": "Liu Hanpu",
      "badgeEarners": 13,
      "crest": "../assets/crests/NUS_HS.jpeg",
      "group": "Junior College",
      "id": "7",
      "integrated": true,
      "name": "NUS High School",
      "numbBadges": 200,
      "participating": 6,
      "size": 950
    },
    {
      "ambassador": "Lim Wei Cong",
      "badgeEarners": 6,
      "crest": "../assets/crests/Nanyang_Poly.jpg",
      "group": "Polytechnic",
      "id": "8",
      "name": "Nanyang Polytechnic",
      "numbBadges": 264,
      "participating": 6,
      "size": 16266
    },
    {
      "ambassador": "Goh Puay Hiang",
      "badgeEarners": 2,
      "crest": "../assets/crests/Singapore_Poly.png",
      "group": "Polytechnic",
      "id": "9",
      "name": "Singapore Polytechnic",
      "numbBadges": 66,
      "participating": 3,
      "size": 15878
    },
    {
      "ambassador": "Jurvis Tan",
      "badgeEarners": 7,
      "crest": "../assets/crests/Ngee-Ann-Poly.jpeg",
      "group": "Polytechnic",
      "id": "10",
      "name": "Ngee Ann Polytechnic",
      "numbBadges": 201,
      "participating": 18,
      "size": 16581
    },
    {
      "ambassador": "Wang Zhi Jian",
      "badgeEarners": 5,
      "crest": "../assets/crests/HWA_Chong.png",
      "group": "Junior College",
      "id": "13",
      "name": "Hwa Chong Institution",
      "numbBadges": 120,
      "participating": 0,
      "size": 1350
    },
    {
      "badgeEarners": 1,
      "crest": "../assets/crests/Anderson_Junior_College_crest.jpg",
      "group": "Junior College",
      "id": "14",
      "name": "Anderson Junior College",
      "numbBadges": 2,
      "participating": 0,
      "size": 1600
    },
    {
      "badgeEarners": 0,
      "crest": "../assets/crests/Anglo-Chinese_School_Independent.png",
      "group": "Junior College",
      "id": "15",
      "integrated": true,
      "name": "Anglo Chinese School (Independent)",
      "numbBadges": 0,
      "participating": 0,
      "size": 950
    },
    {
      "ambassador": "Tan Hui Zheng",
      "badgeEarners": 6,
      "crest": "../assets/crests/National_JC.png",
      "group": "Junior College",
      "id": "16",
      "integrated": true,
      "name": "National Junior College",
      "numbBadges": 125,
      "participating": 0,
      "size": 1450
    },
    {
      "ambassador": "Anna Teo",
      "badgeEarners": 4,
      "crest": "../assets/crests/Temasek_Junior_College.jpg",
      "group": "Junior College",
      "id": "17",
      "integrated": true,
      "name": "Temasek Junior College",
      "numbBadges": 62,
      "participating": 0,
      "size": 1750
    },
    {
      "badgeEarners": 5,
      "crest": "../assets/crests/Raffles_Institute.png",
      "group": "Junior College",
      "id": "18",
      "name": "Raffles Institution",
      "numbBadges": 198,
      "participating": 6,
      "size": 2350
    },
    {
      "ambassador": "Wang Lu",
      "badgeEarners": 16,
      "crest": "../assets/crests/Victoria_JC.png",
      "group": "Junior College",
      "id": "19",
      "name": "Victoria Junior College",
      "numbBadges": 388,
      "participating": 9,
      "size": 1450
    },
    {
      "badgeEarners": 0,
      "crest": "../assets/crests/Yishun_JC.jpg",
      "group": "Junior College",
      "id": "20",
      "name": "Yishun Junior College",
      "numbBadges": 0,
      "participating": 0,
      "size": 1150
    },
    {
      "badgeEarners": 3,
      "crest": "../assets/crests/Anglo-Chinese_School_JC.png",
      "group": "Junior College",
      "id": "24",
      "name": "Anglo-Chinese Junior College",
      "numbBadges": 190,
      "participating": 9,
      "size": 1850
    },
    {
      "badgeEarners": 0,
      "crest": "../assets/crests/Catholic_JC_Crest.png",
      "group": "Junior College",
      "id": "25",
      "name": "Catholic Junior College",
      "numbBadges": 0,
      "participating": 0,
      "size": 1600
    },
    {
      "badgeEarners": 6,
      "crest": "../assets/crests/Innova_Junior_College.png",
      "group": "Junior College",
      "id": "26",
      "name": "Innova Junior College",
      "numbBadges": 143,
      "participating": 3,
      "size": 1050
    },
    {
      "badgeEarners": 0,
      "crest": "../assets/crests/Jurong_JC.png",
      "group": "Junior College",
      "id": "27",
      "name": "Jurong Junior College",
      "numbBadges": 0,
      "participating": 0,
      "size": 1600
    },
    {
      "badgeEarners": 1,
      "crest": "../assets/crests/Meridian_JC_Crest.png",
      "group": "Junior College",
      "id": "28",
      "name": "Meridian Junior College",
      "numbBadges": 3,
      "participating": 0,
      "size": 1450
    },
    {
      "badgeEarners": 9,
      "crest": "../assets/crests/Millennia_institute.jpg",
      "group": "Junior College",
      "id": "29",
      "name": "Millennia Institute",
      "numbBadges": 180,
      "participating": 0,
      "size": 1950
    },
    {
      "badgeEarners": 1,
      "crest": "../assets/crests/Nanyang_JC.png",
      "group": "Junior College",
      "id": "30",
      "name": "Nanyang Junior College",
      "numbBadges": 3,
      "participating": 0,
      "size": 1750
    },
    {
      "badgeEarners": 0,
      "crest": "../assets/crests/River_Valley_HS.png",
      "group": "Junior College",
      "id": "31",
      "integrated": true,
      "name": "River Valley High School",
      "numbBadges": 0,
      "participating": 0,
      "size": 1600
    },
    {
      "badgeEarners": 0,
      "crest": "../assets/crests/Serangoon_JC.jpg",
      "group": "Junior College",
      "id": "32",
      "name": "Serangoon Junior College",
      "numbBadges": 0,
      "participating": 0,
      "size": 1650
    },
    {
      "badgeEarners": 1,
      "crest": "../assets/crests/Saint_Andrews.jpg",
      "group": "Junior College",
      "id": "33",
      "name": "Saint Andrew's Junior College",
      "numbBadges": 3,
      "participating": 0,
      "size": 1550
    },
    {
      "badgeEarners": 0,
      "crest": "../assets/crests/Tampines_JC.jpg",
      "group": "Junior College",
      "id": "34",
      "name": "Tampines Junior College",
      "numbBadges": 0,
      "participating": 0,
      "size": 1450
    },
    {
      "badgeEarners": 1,
      "crest": "../assets/crests/Sota.jpg",
      "group": "Junior College",
      "id": "35",
      "integrated": true,
      "name": "School of the Arts",
      "numbBadges": 3,
      "participating": 0,
      "size": 220
    },
    {
      "badgeEarners": 0,
      "crest": "../assets/crests/St_Josephs.png",
      "group": "Junior College",
      "id": "36",
      "integrated": true,
      "name": "St Joseph's Institution",
      "numbBadges": 0,
      "participating": 0,
      "size": 76
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "101",
      "name": "Admiralty Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "102",
      "name": "Ahmad Ibrahim Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "103",
      "name": "Anderson Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "104",
      "name": "Ang Mo Kio Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "105",
      "name": "Anglican High School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "106",
      "name": "Anglo-Chinese School (Barker Road)",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "107",
      "name": "Assumption English School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "108",
      "name": "Assumption Pathway School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "109",
      "name": "Balestier Hill Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "110",
      "name": "Bartley Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "111",
      "name": "Beatty Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "112",
      "name": "Bedok Green Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "113",
      "name": "Bedok North Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "114",
      "name": "Bedok South Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "115",
      "name": "Bedok Town Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "116",
      "name": "Bedok View Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "117",
      "name": "Bendemeer Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "118",
      "name": "Bishan Park Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "119",
      "name": "Boon Lay Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "120",
      "name": "Bowen Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "121",
      "name": "Broadrick Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "122",
      "name": "Bukit Batok Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "123",
      "name": "Bukit Merah Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "124",
      "name": "Bukit Panjang Govt. High School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "125",
      "name": "Bukit View Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "126",
      "name": "Canberra Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "127",
      "name": "Catholic High School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "128",
      "name": "Cedar Girls' Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "129",
      "name": "Changkat Changi Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "130",
      "name": "Chestnut Drive Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "131",
      "name": "CHIJ Katong Convent",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "132",
      "name": "CHIJ Secondary (Toa Payoh)",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "133",
      "name": "CHIJ St. Joseph's Convent",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "134",
      "name": "CHIJ St. Nicholas Girls' School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "135",
      "name": "CHIJ St. Theresa's Convent",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "136",
      "name": "Chong Boon Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "137",
      "name": "Christ Church Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "138",
      "name": "Chua Chu Kang Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "139",
      "name": "Chung Cheng High School (Main)",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "140",
      "name": "Chung Cheng High School (Yishun)",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "141",
      "name": "Church Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "142",
      "name": "Clementi Town Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "143",
      "name": "Clementi Woods Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "144",
      "name": "Commonwealth Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "145",
      "name": "Compassvale Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "146",
      "name": "Coral Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "147",
      "name": "Crescent Girls' School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "148",
      "name": "Crest Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "149",
      "name": "Damai Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "150",
      "name": "Deyi Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "151",
      "name": "Dunearn Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "152",
      "name": "Dunman Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "153",
      "name": "East Spring Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "154",
      "name": "East View Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "155",
      "name": "Edgefield Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "156",
      "name": "Evergreen Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "157",
      "name": "Fairfield Methodist Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "158",
      "name": "Fajar Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "159",
      "name": "First Toa Payoh Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "160",
      "name": "Fuchun Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "161",
      "name": "Fuhua Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "162",
      "name": "Gan Eng Seng School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "163",
      "name": "Geylang Methodist School (Secondary)",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "164",
      "name": "Greendale Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "165",
      "name": "Greenridge Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "166",
      "name": "Greenview Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "167",
      "name": "Guangyang Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "168",
      "name": "Hai Sing Catholic School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "169",
      "name": "Henderson Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "170",
      "name": "Hillgrove Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "171",
      "name": "Holy Innocents' High School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "172",
      "name": "Hong Kah Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "173",
      "name": "Hougang Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "174",
      "name": "Hua Yi Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "175",
      "name": "Hwa Chong Institution",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "176",
      "name": "Junyuan Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "177",
      "name": "Jurong Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "178",
      "name": "Jurong West Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "179",
      "name": "Jurongville Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "180",
      "name": "Juying Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "181",
      "name": "Kent Ridge Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "182",
      "name": "Kranji Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "183",
      "name": "Kuo Chuan Presbyterian Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "184",
      "name": "Loyang Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "185",
      "name": "MacPherson Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "186",
      "name": "Manjusri Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "187",
      "name": "Maris Stella High School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "188",
      "name": "Marsiling Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "189",
      "name": "Mayflower Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "190",
      "name": "Methodist Girls' School (Secondary)",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "191",
      "name": "Montfort Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "192",
      "name": "Nan Chiau High School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "193",
      "name": "Nan Hua High School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "194",
      "name": "Nanyang Girls' High School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "195",
      "name": "National Junior College",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "196",
      "name": "Naval Base Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "197",
      "name": "New Town Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "198",
      "name": "Ngee Ann Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "199",
      "name": "North View Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "200",
      "name": "North Vista Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "201",
      "name": "Northbrooks Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "202",
      "name": "Northland Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "203",
      "name": "Northlight School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "204",
      "name": "Orchid Park Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "205",
      "name": "Outram Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "206",
      "name": "Pasir Ris Crest Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "207",
      "name": "Pasir Ris Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "208",
      "name": "Paya Lebar Methodist Girls' School (Secondary)",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "209",
      "name": "Pei Hwa Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "210",
      "name": "Peicai Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "211",
      "name": "Peirce Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "212",
      "name": "Ping Yi Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "213",
      "name": "Pioneer Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "214",
      "name": "Presbyterian High School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "215",
      "name": "Punggol Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "216",
      "name": "Queenstown Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "217",
      "name": "Queensway Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "218",
      "name": "Raffles Girls' School (Secondary)",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "219",
      "name": "Raffles Institution (Secondary)",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "220",
      "name": "Regent Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "221",
      "name": "Riverside Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "222",
      "name": "School of Science and Technology, Singapore",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "223",
      "name": "Sembawang Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "224",
      "name": "Seng Kang Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "225",
      "name": "Serangoon Garden Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "226",
      "name": "Serangoon Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "227",
      "name": "Shuqun Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "228",
      "name": "Si Ling Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "229",
      "name": "Siglap Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "230",
      "name": "Singapore Chinese Girls' School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "231",
      "name": "Singapore Sports School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "232",
      "name": "Springfield Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "233",
      "name": "St. Andrew's Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "234",
      "name": "St. Anthony's Canossian Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "235",
      "name": "St. Gabriel's Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "236",
      "name": "St. Hilda's Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "237",
      "name": "St. Margaret's Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "238",
      "name": "St. Patrick's School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "239",
      "name": "Swiss Cottage Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "240",
      "name": "Tampines Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "241",
      "name": "Tanglin Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "242",
      "name": "Tanjong Katong Girls' School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "243",
      "name": "Tanjong Katong Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "244",
      "name": "Teck Whye Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "245",
      "name": "Temasek Academy",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "246",
      "name": "Temasek Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "247",
      "name": "Unity Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "248",
      "name": "Victoria School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "249",
      "name": "West Spring Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "250",
      "name": "Westwood Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "251",
      "name": "Whitley Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "252",
      "name": "Woodgrove Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "253",
      "name": "Woodlands Ring Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "254",
      "name": "Woodlands Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "255",
      "name": "Xinmin Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "256",
      "name": "Yio Chu Kang Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "257",
      "name": "Yishun Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "258",
      "name": "Yishun Town Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "259",
      "name": "Yuan Ching Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "260",
      "name": "Yuhua Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "261",
      "name": "Yusof Ishak Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "262",
      "name": "Yuying Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "263",
      "name": "Zhenghua Secondary School",
      "size": 99
    },
    {
      "ambassador": "",
      "badgeEarners": 0,
      "crest": "../assets/crests/tempbadge.png",
      "group": "Secondary",
      "id": "264",
      "name": "Zhonghua Secondary School",
      "size": 99
    }
  ];



}]);




</script>
</body>
</html>

