<meta name="robots" content="noindex">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Singapore School Rankings</title>
  <link rel="stylesheet" href="../vendor/bootstrap.min.css" type="text/css" /> 
  <script src="../vendor/angular/angular.js" type="text/javascript"></script>
 
</head>

<body ng-app="schools">
  <div class="panel panel-default" ng-controller="TableCtrl" ng-init="predicate='-registered'">
    <table class="table table-striped">
      <tr class="bold">  
          <th>Totals</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>{{numCoders}}</th> 
          <th></th>
          <th></th>
          <th></th>  
          <th></th>
          <th></th>
          <th></th>    
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Sec1</th>
        <th>Sec2</th>
        <th>Sec3</th>
        <th>Sec4</th>
        <th>JC1</th>
        <th>JC2</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>Crest</th>
        <th><a href="" ng-click="predicate = 'name'">School</a></th>
        <th>
          <a href="" ng-click="predicate = 'group'">School Type</a>
          <a href="" ng-click="predicate = '-group'"> (-)</a>
        </th>
        <th>2002</th>
        <th>2001</th>
        <th>2000</th>
        <th>1999</th>
        <th>1998</th>
        <th>1997</th>
        <th>
          <a href="" ng-click="predicate = '-registered'">Total Registered</a>
          <a href="" ng-click="predicate = 'registered'"> (-) </a>
        </th>
        <th>Code Combat Reg</th>
        <th>Finished Code Combat Level</th>
        <th>Completed Task For Class</th>
        <th>Solved SingPath Problem</th>
        <th>Certified Skill Usage</th>
      </tr>

      <tr ng-repeat="school in schools | orderBy : predicate" ng-show="school.name"> 
        <td><img height="24" width="24" title="{{school.name}}" ng-src="{{school.crest}}"></td>
        <td>{{school.name}}</td>
        <td>{{school.group}}</td>
        <td>{{registeredBySchoolAndYear[school.name]["2002"]}}</td>
        <td>{{registeredBySchoolAndYear[school.name]["2001"]}}</td>
        <td>{{registeredBySchoolAndYear[school.name]["2000"]}}</td>
        <td>{{registeredBySchoolAndYear[school.name]["1999"]}}</td>
        <td>{{registeredBySchoolAndYear[school.name]["1998"]}}</td>
        <td>{{registeredBySchoolAndYear[school.name]["1997"]}}</td>
        <td>{{school.registered}}</td>
        <td>{{school.codeCombatRegistered}}</td>
        <td>{{school.codeCombatBadgeEarners}}</td>
        <td>{{school.joinedClass}}</td>
        <td>TBD</td>
        <td>TBD</td>       
      </tr>
    </table>
    <br>
    <!-- For debugging
    Registerd by school {{ registeredBySchool }}<br>
    Code Combat Registrations {{ codeCombatRegisteredBySchool }}<br>
    Code Combat Badge Earners {{ codeCombatBadgeBySchool }}<br>
    Joined a Class {{ joinedAClassBySchool }}<br>
    Registered by school and year {{registeredBySchoolAndYear}} <br>
  -->

<script>

var app = angular.module("schools", []);

/*var app = angular.module("schools", ["firebase","chart.js"])*/

app.controller("TableCtrl", ['$scope','$http', "$q", function ($scope, $http, $q) {
  
  $scope.registeredBySchool = {};
  $scope.registeredBySchoolAndYear = {};
  $scope.codeCombatRegisteredBySchool = {};
  $scope.codeCombatBadgeBySchool = {};
  $scope.joinedAClassBySchool = {};
  $scope.skillUsedInClassBySchool = {};
  $scope.certifiedSkillUsageBySchool = {};
  $scope.solvedSingPathProblemBySchool = {};

  $scope.numCoders = 0;
   
  //This is where the work would be done to assemble these stats from the REST API. 
  $scope.get_totals = function(){
       $scope.numCoders = 0;

       for (prop in $scope.example_user_data) {
          if (!$scope.example_user_data.hasOwnProperty(prop)) {
            //The current property is not a direct property of p
            continue;
          }
          //Do your logic with the property here
          if('user' in $scope.example_user_data[prop]){
             //console.log($scope.example_user_data[prop].user.displayName);
             if('school' in $scope.example_user_data[prop].user){
                //console.log($scope.example_user_data[prop].user.school.name);
                var schoolName = $scope.example_user_data[prop].user.school.name;
                //Increment the value for the school cohort.
                $scope.numCoders += 1;
                //Increment the value for the school. 
                if (schoolName in $scope.registeredBySchool){
                  $scope.registeredBySchool[schoolName] += 1;
                }
                else{
                  $scope.registeredBySchool[schoolName] = 1;
                  $scope.registeredBySchoolAndYear[schoolName] = {}; 
                }

                //Increment the count for school year if user has year of birth. 
                if ("yearOfBirth" in $scope.example_user_data[prop].user){
                    var yob = $scope.example_user_data[prop].user.yearOfBirth;
                    //console.log(yob);
                    
                    if (yob in $scope.registeredBySchoolAndYear[schoolName]){
                      $scope.registeredBySchoolAndYear[schoolName][yob] += 1;
                    }
                    else{
                      $scope.registeredBySchoolAndYear[schoolName][yob] = 1;
                    }
                    
                }

                //Check for Code Combat Registration

                if ("services" in $scope.example_user_data[prop] && "codeCombat" in $scope.example_user_data[prop].services){

                  if(schoolName in $scope.codeCombatRegisteredBySchool){
                    $scope.codeCombatRegisteredBySchool[schoolName] += 1;
                  }
                  else{
                    $scope.codeCombatRegisteredBySchool[schoolName] = 1;
                  }

                  //Check to see if any badges have been earned. 
                  if("badges" in $scope.example_user_data[prop].services.codeCombat){

                    if(schoolName in $scope.codeCombatBadgeBySchool){
                      $scope.codeCombatBadgeBySchool[schoolName] += 1;
                    }
                    else{
                      $scope.codeCombatBadgeBySchool[schoolName] = 1;
                    }

                  }
                  

                }

                //Check to see if school members have joined an event/class. 
                if ("events" in $scope.example_user_data[prop]){

                  if(schoolName in $scope.joinedAClassBySchool){
                    $scope.joinedAClassBySchool[schoolName] += 1;
                    //console.log(prop+"*");
                  }
                  else{
                    $scope.joinedAClassBySchool[schoolName] = 1;
                    //console.log(prop+"***");
                  }                  

                }
                else{
                  //console.log("******"+prop);
                }


              }
          }
       }

       //Update the school list with the number of users registered per school. 
       //Create a new list of schools for the table array. 


       $scope.schools = [];
       for(schoolKey in $scope.theSchools){
          //console.log($scope.schools[i].name);
          var theSchool = $scope.theSchools[schoolKey];

          if ($scope.theSchools[schoolKey].name in $scope.registeredBySchool){
              //console.log("****** "+$scope.schools[i].name);
              theSchool.registered = $scope.registeredBySchool[$scope.theSchools[schoolKey].name];
          }
          else{
            $scope.theSchools[schoolKey].registered = 0;
          }

          //Update the school list with the number of code combat registrations. 
          
          if ($scope.theSchools[schoolKey].name in $scope.codeCombatRegisteredBySchool){
              $scope.theSchools[schoolKey].codeCombatRegistered = $scope.codeCombatRegisteredBySchool[$scope.theSchools[schoolKey].name];
          }
          else{
            $scope.theSchools[schoolKey].codeCombatRegistered = 0;
          }

          //Update the school list with the number of code combat badge earners. 
          if ($scope.theSchools[schoolKey].name in $scope.codeCombatBadgeBySchool){
              $scope.theSchools[schoolKey].codeCombatBadgeEarners = $scope.codeCombatBadgeBySchool[$scope.theSchools[schoolKey].name];
          }
          else{
            $scope.theSchools[schoolKey].codeCombatBadgeEarners = 0;
          }

          //Update the school list with the number of users that have joined a class. 
          if ($scope.theSchools[schoolKey].name in $scope.joinedAClassBySchool){
              $scope.theSchools[schoolKey].joinedClass = $scope.joinedAClassBySchool[$scope.theSchools[schoolKey].name];
          }
          else{
            $scope.theSchools[schoolKey].joinedClass = 0;
          }

          //Update the school yearOfBirth counts. 
          //loop through the year keys in the $scope.registeredBySchoolAndYear[schoolName][yob] 
          
          $scope.schools.push(theSchool);

       }
  };

  $scope.promise1 = $http.get('https://singpath.firebaseio.com/classMentors/schools.json', {cache: false});

  $scope.promise2 = $http.get('https://singpath.firebaseio.com/classMentors/userProfiles.json', {'cache': false});
  
  $q.all([$scope.promise1, $scope.promise2]).then(function(values) {
    $scope.theSchools = values[0].data;
    $scope.example_user_data = values[1].data;
    $scope.get_totals(); 

  });

}]); 

</script>
</body>
</html>

