spf-select-container div[ng-message] {
  color: black;
  color: rgba(0, 0, 0, 0.870588);
  display: block;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  position: relative;
  top: -2px;
}
