<md-content flex class="md-padding">

    <p ng-if="ctrl.levels|spfEmpty">No level found.</p>

    <md-list class="level-list">
        <md-list-item class="md-3-line" ng-repeat="level in ctrl.levels">
            <div class="language-icon" hide-sm>
                <md-icon md-svg-icon="language:{{level.language}}" alt="{{level.language}}"></md-icon>
            </div>
            <div class="md-list-item-text">
                <h3 layout>
                    <span flex>{{level.title}}</span>
                    <span hide>[{{level.language}}]</span>
                </h3>
                <h4>by {{level.owner.displayName}}</h4>
                <p>{{level.description}}</p>
            </div>
            <div layout="column" layout-align="top center">
                <md-button ng-href="#{{ 'problems'|urlFor: {pathId: ctrl.path.$id, levelId: level.$id} }}" layout layout-align="center center" class="md-raised md-primary responsive-button" aria-label="Run">
                    <md-icon ng-if="!ctrl.profile.hasStartedPath(ctrl.path, level)" md-svg-icon="chevron-right"></md-icon>
                    <md-icon ng-if="ctrl.profile.workingOnPath(ctrl.path, level)" md-svg-icon="play-arrow"></md-icon>
                    <md-icon ng-if="ctrl.profile.hasSolvedPath(ctrl.path, level)" md-svg-icon="check"></md-icon>
                    <span hide-sm ng-if="!ctrl.profile.hasStartedPath(ctrl.path, level)" flex>Start</span>
                    <span hide-sm ng-if="ctrl.profile.workingOnPath(ctrl.path, level)" flex>Continue</span>
                    <span hide-sm ng-if="ctrl.profile.hasSolvedPath(ctrl.path, level)" flex>Results</span>
                </md-button>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
    </md-list>

</md-content>
