.nav-parent > * {
  font-size: inherit;;
}

.menu-item.ng-move,
.menu-item.ng-enter,
.menu-item.ng-leave {
    transition: all linear 0.3s;
}

.menu-item.ng-leave.ng-leave-active,
.menu-item.ng-move,
.menu-item.ng-enter {
    max-width: 0;
    min-width: 0;
    margin: 16px 0;
    padding: 0;
    overflow: hidden
}

.menu-item.ng-leave,
.menu-item.ng-move.ng-move-active,
.menu-item.ng-enter.ng-enter-active {
    margin: 16px 8px;
    padding: 0 8px;
    max-width: 150px;
    min-width: 24px;
}
