.navbar-header {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .navbar-toggle {
    display: block;
  }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
  .navbar-toggle {
    margin-left: 0 !important;
  }
}
.navbar-toggle {
  float: left;
  margin-right: 0;
  margin-left: 15px;
}
.navbar-text {
  padding: 0 5px 0 5px;
}

.nav-logout {
    color: #337ab7
}

.nav-login {
    color: #a94442
}
