/**
 * Style for index.html
 *
 */

html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 80px 20px;
}
#wrap > .container-fluid {
  padding-bottom: 20px;
}
footer {
  overflow: hidden;
  border-top: 1px solid #f4e3db;
  height: 60px;
  background-color: #f5f5f5;
}
footer .text-muted {
  margin: 20px 0;
}
footer > .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
