/**
 * Style for index.html
 *
 */

html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 80px 20px;
}
#wrap > .container-fluid {
  padding-bottom: 20px;
}
footer {
  overflow: hidden;
  border-top: 1px solid #f4e3db;
  height: 60px;
  background-color: #f5f5f5;
}
footer .text-muted {
  margin: 20px 0;
}
footer > .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

/** Alert css */
.alert.top-right {
  right: 0;
}
.alert.top, .alert.top-left, .alert.top-right {
  top: 50px;
}
.alert.bottom, .alert.bottom-left, .alert.bottom-right, .alert.top, .alert.top-left, .alert.top-right {
  position: fixed;
  z-index: 1050;
  margin: 20px;
}
