<md-content class="md-padding">
    <form name="newPath" ng-submit="ctrl.createPath(ctrl.currentUser, ctrl.path)">
        <spf-sign-form current-user="ctrl.currentUser" ng-if="ctrl.profileNeedsUpdate"></spf-sign-form>

        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Path Title</label>
                <input ng-minlength="3" ng-maxlength="64" required name="pathTitle" ng-model="ctrl.path.title">
                <div ng-messages="newPath.pathTitle.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="minlength">The title has to be more than 2 characters long.</div>
                    <div ng-message="maxlength">The title has to be less than 64 characters long.</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <md-select flex name="pathLanguage" ng-model="ctrl.path.language" required placeholder="Select a Language">
                    <md-option ng-value="opt" ng-repeat="opt in ['angularjs', 'python', 'java', 'javascript']">{{opt}}</md-option>
                </md-select>
                <div ng-messages="newPath.pathLanguage.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container></div>
        </div>

        <md-input-container flex>
            <label>Description</label>
            <textarea name="pathDescription" ng-model="ctrl.path.description" columns="1" required ng-minlength="1" ng-maxlength="200"></textarea>
            <div ng-messages="newPath.pathDescription.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="minlength">The description has to be more than 1 characters long.</div>
                <div ng-message="maxlength">The screen name has to be less than 200 characters long.</div>
            </div>
        </md-input-container>

        <div layout="row" layout-align="center center">
            <md-button flex="25" flex-sm="50" type="submit" class="md-raised md-primary" ng-disabled="!newPath.$valid || ctrl.savingPath">Create Path</md-button>
            <md-button flex="25" flex-sm="50" type="reset" class="md-raised">Reset</md-button>
        </div>
    </form>
</md-content>
