<md-content flex>
	<md-content class="md-padding">
		<p>This event will take place in September 2015.</p>
	</md-content>

	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">
			<h3><span>Participating Schools</span></h3>
		</div>
	</md-toolbar>
	<md-content class="md-padding">
		<md-subheader>0 School yet.</md-subheader>
	</md-content>

	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">
			<h3><span>Remaining schools</span></h3>
		</div>
	</md-toolbar>
	<md-content class="md-padding">
		<md-subheader>0 School yet.</md-subheader>
	</md-content>
</md-content>