<md-content class="md-padding play-problem">
    <div ng-if="!ctrl.auth.user.uid" layout="column" layout-align="start center" ng-controller="SpfSharedMaterialNavBarCtrl as loginCtrl">
        <p>You need to be logged in to play</p>
        <p>
            <md-button ng-click="loginCtrl.login()" class="md-raised md-accent">
                <md-icon md-svg-icon="launch"></md-icon>
                login
            </md-button>
        </p>
    </div>

    <div ng-if="!ctrl.profile">
        <form name="registerForm" ng-submit="ctrl.register(ctrl.currentUser, registerForm)">
            <spf-sign-form current-user="ctrl.currentUser"></spf-sign-form>

            <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-raised md-primary" ng-disabled="registerForm.$invalid">
                    Save
                </md-button>
            </div>
        </form>
    </div>

    <div ng-if="ctrl.profile">
        <form name="solutionForm" ng-submit="ctrl.solve(ctrl.currentUser, ctrl.problem, ctrl.solution.payload.solution)">

            <div class="details">
                <div layout layout-align="center start">
                    <h4>Language</h4>
                    <p flex>{{ctrl.problem.language}}</p>
                </div>

                <div layout layout-align="center start">
                    <h4>Creator</h4>
                    <p flex>{{ctrl.problem.owner.displayName}}</p>
                </div>

                <div layout layout-align="center start">
                    <h4>Goal</h4>
                    <p flex>{{ctrl.problem.description}}</p>
                </div>
            </div>

            <spf-sign-form current-user="ctrl.currentUser" ng-if="ctrl.profileNeedsUpdate"></spf-sign-form>

            <div layout layout-sm="column" layout-padding>
                <spf-editor-container flex ng-if="!ctrl.solution.meta.solved">
                    <label>Solution</label>
                    <textarea name="problemSolution" ng-model="ctrl.solution.payload.solution" columns="1" required ng-minlength="3" ng-maxlength="8192" spf-editor="{{ctrl.problem.language}}" ng-change="ctrl.solutionChanged(ctrl.solution.payload.solution)"></textarea>
                    <div ng-messages="solutionForm.problemSolution.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="minlength">The solution has to be more than 1 characters long.</div>
                        <div ng-message="maxlength">The solution has to be less than 8192 characters long.</div>
                    </div>
                </spf-editor-container>

                <spf-editor-container flex>
                    <label>Tests</label>
                    <textarea name="problemTests" ng-model="ctrl.problem.tests" columns="1" spf-editor="{{ctrl.problem.language}}" spf-readonly="true"></textarea>
                </spf-editor-container>
            </div>

            <div ng-if="ctrl.solutionSaved &amp;&amp; !ctrl.solution.meta.verified" layout="column" layout-align="center center">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                <p>Waiting for result...</p>
            </div>

            <div layout layout-align="center center" layout-align="center center" ng-if="ctrl.solution.meta.solved">
                <p class="solution-solved">Solved!</p>
            </div>

            <div layout layout-align="center center" layout-align="center center" ng-if="ctrl.solution.meta.verified && !ctrl.solution.meta.solved">
                <p class="solution-failed">It didn't work... Try again.</p>
            </div>

            <div ng-if="ctrl.solution.meta.verified" ng-switch on="ctrl.problem.language">
                <div ng-switch-when="java" layout layout-align="center center" class="solution-result java-result">

                    <div ng-if="ctrl.solution.results[ctrl.solution.meta.taskId].errors" class="md-whiteframe-z1 solution-errors">
                        {{ctrl.solution.results[ctrl.solution.meta.taskId].errors}}
                    </div>

                    <table class="md-whiteframe-z1" ng-class="{'solved': ctrl.solution.meta.solved}" ng-if="!(ctrl.solution.results[ctrl.solution.meta.taskId].results|spfEmpty)">
                        <thead>
                            <th>Call</th>
                            <th>Correct</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="test in ctrl.solution.results[ctrl.solution.meta.taskId].results" ng-class="{'failed': !test.correct}">
                                <td>{{test.call}}</td>
                                <td>{{test.correct}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-switch-when="python" layout layout-align="center center" class="solution-result python-result">

                    <div ng-if="ctrl.solution.results[ctrl.solution.meta.taskId].errors" class="md-whiteframe-z1 solution-errors">
                        {{ctrl.solution.results[ctrl.solution.meta.taskId].errors}}
                    </div>

                    <table class="md-whiteframe-z1" ng-class="{'solved': ctrl.solution.meta.solved}" ng-if="!(ctrl.solution.results[ctrl.solution.meta.taskId].results|spfEmpty)">
                        <thead>
                            <th>Call</th>
                            <th>Expected</th>
                            <th>Received</th>
                            <th>Correct</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="test in ctrl.solution.results[ctrl.solution.meta.taskId].results" ng-class="{'failed': !test.correct}">
                                <td>{{test.call}}</td>
                                <td>{{test.expected}}</td>
                                <td>{{test.received}}</td>
                                <td>{{test.correct}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-switch-when="javascript" layout layout-align="center center" class="solution-result javascript-result">

                    <div ng-if="ctrl.solution.results[ctrl.solution.meta.taskId].errors" class="md-whiteframe-z1 solution-errors">
                        {{ctrl.solution.results[ctrl.solution.meta.taskId].errors}}
                    </div>

                    <table class="md-whiteframe-z1" ng-class="{'solved': ctrl.solution.meta.solved}" ng-if="!(ctrl.solution.results[ctrl.solution.meta.taskId].results|spfEmpty)">
                        <thead>
                            <th>Name</th>
                            <th>Correct</th>
                            <th>Error</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="test in ctrl.solution.results[ctrl.solution.meta.taskId].results" ng-class="{'failed': !test.correct}">
                                <td>{{test.test}}</td>
                                <td>{{test.correct}}</td>
                                <td><span ng-if="test.error">{{test.error}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-switch-when="angularjs" layout layout-align="center center" class="solution-result angularjs-result">

                    <div ng-if="ctrl.solution.results[ctrl.solution.meta.taskId].errors" class="md-whiteframe-z1 solution-errors">
                        {{ctrl.solution.results[ctrl.solution.meta.taskId].errors}}
                    </div>

                    <table class="md-whiteframe-z1" ng-class="{'solved': ctrl.solution.meta.solved}" ng-repeat="result in ctrl.solution.results[ctrl.solution.meta.taskId].results">
                        <thead>
                            <tr>
                                <th colspan="2">{{result.description}}</th>
                            </tr>
                            <tr>
                                <th>Assertion Passed</th>
                                <th>Error Message</th>
                            </tr>
                        </thead>
                        <tbody  class="assertion-results">
                            <tr ng-repeat="assertion in result.assertions" ng-class="{'failed': !assertion.passed}">
                                <td>{{assertion.passed}}</td>
                                <td>{{assertion.errorMsg}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div layout="row" layout-align="center center" layout-padding>
                <md-button flex="25" flex-sm="50" type="submit" class="md-raised md-primary" ng-disabled="!solutionForm.$valid || ctrl.savingSolution || ctrl.solutionSaved" ng-if="!ctrl.solution.meta.solved">Run Solution</md-button>
                <md-button flex="25" flex-sm="50" type="reset" ng-click="ctrl.retry()" class="md-raised md-primary" ng-if="ctrl.solution.meta.solved">Try again</md-button>
                <md-button flex="25" flex-sm="50" type="reset" class="md-raised" ng-click="ctrl.reset(ctrl.solution)" ng-disabled="ctrl.solution.meta.solved">Reset</md-button>
            </div>
        </form>
    </div>
</md-content>
