/* Problem list */
.language-icon {
  padding: 16px 0;
}

.language-icon md-icon {
  height: 55px;
  width: 100px;
}
.problem-list .md-title-right .md-button {
  padding: 8px 16px 8px 8px;
}

.problem-list .md-title-right .md-button md-icon {
  margin-right: 8px
}

.play-problem .details h4 {
  min-width: 6em;
}
.play-problem .details h4, .play-problem .details p {
  padding: 0;
  margin: 0 10px;
  line-height: 28px;
}

/* Play problem */
.play-problem .details h4 {
  text-align: right;
}
.solution-solved {
  background-color: #cddc39;
  color: #3e464c;
  padding: 16px;
}
.solution-failed {
  background-color: #ff5722;
  color: white;
  padding: 16px;
}
.solution-result table, .solution-errors {
  background-color: #795548;
  color: white;
}
.solution-result tr.failed, .solution-errors, .assertion-results tr.failed {
  background-color: #ff5722;
  color: white;
}
.solution-result table, .solution-errors {
  padding: 16px;
  text-align: center;
}
.solution-result table tbody {
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-size: 14px;
}
.solution-result th, .solution-result td {
  padding: 4px 8px;
  min-width: 5em;
}
