<md-content flex class="md-padding">
    <form name="editTask" ng-submit="ctrl.saveTask(ctrl.event, ctrl.taskId, ctrl.task, ctrl.taskType, ctrl.isOpen, editTask)">
        <div>
            <div layout="row">
                <md-input-container flex>
                    <label for="edit-task-name">Name</label>
                    <input type="text" name="editTaskTitle" id="edit-task-name"
                        ng-model="ctrl.task.title"
                        required="required" ng-minLength="3" md-maxLength="30"
                        placeholer="Challenge name"
                    />
                    <div ng-messages="editTask.editTaskTitle.$error">
                        <div ng-message="required">A challenge needs a name.</div>
                        <div ng-message="minlength">The name is too short.</div>
                        <div ng-message="md-maxlength">The name is too long.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="edit-task-priority">Priority</label>
                    <input type="number" name="editTaskPriority" id="edit-task-priority"
                        ng-model="ctrl.task.priority"
                        min="0" step="1"
                        placeholer="Challenge priority"
                    />
                    <div ng-messages="editTask.editTaskPriority.$error">
                        <div ng-message="number">The priority should be a possitive number.</div>
                    </div>
                </md-input-container>
            </div>
        </div>

        <div>
            <md-input-container>
                <label for="edit-task-desc">Description</label>
                <textarea name="editTaskDesc" id="edit-task-desc"
                    ng-model="ctrl.task.description"
                    required="required" ng-minLength="3" md-maxLength="200"
                    placeholer="Challenge description"
                ></textarea>
                <div ng-messages="editTask.editTaskDesc.$error">
                    <div ng-message="required">A challenge needs a description.</div>
                    <div ng-message="minlength">The descriptiion is too short.</div>
                    <div ng-message="md-maxlength">The description is too long.</div>
                </div>
            </md-input-container>
        </div>

        <div>
            <md-input-container>
                <label for="edit-task-link">Help Link</label>
                <input type="text" name="editTaskLink" id="edit-task-link"
                    ng-model="ctrl.task.link"
                    pattern="^(https?://.+|#/).+$"
                    placeholer="URL to a challenge help page"
                />
                <div ng-messages="editTask.editTaskLink.$error">
                    <div ng-message="pattern">Wrong format for an absolute or relative URL.</div>
                </div>
            </md-input-container>
        </div>

        <div>
            <h3>options</h3>
            <p>
                <md-switch class="md-primary" ng-model="ctrl.isOpen" aria-label="closed?">
                    Open
                </md-switch>
            </p>
            <p>
                <md-switch class="md-primary" ng-model="ctrl.task.hidden" aria-label="hidden?">
                    Hide
                </md-switch>
            </p>

            <p>
                <md-switch class="md-primary" ng-model="ctrl.task.archived" aria-label="Archived?">
                    Archived
                </md-switch>
            </p>

            <p>
                <md-switch class="md-primary" ng-model="ctrl.task.showProgress" aria-label="show progress?">
                    Show all participant progress.
                </md-switch>
            </p>
            
            <p>
                <md-switch class="md-primary" ng-model="ctrl.task.showLinks" aria-label="closed?">
                    Show all participant solutions.
                </md-switch>
            </p>

        </div>

        <div>
            <h3>Task type <small ng-if="!ctrl.taskType">(Required)</small></h3>
            <md-radio-group ng-model="ctrl.taskType">
                <md-radio-button value="service" class="md-primary">Service / Badge / Problem</md-radio-button>
                <md-radio-button value="linkPattern" class="md-primary">Link pattern</md-radio-button>
                <md-radio-button value="textResponse" class="md-primary">Text Response</md-radio-button>
            </md-radio-group>
        </div>

        <div layout="row" ng-if="ctrl.taskType == 'service'">
            <md-input-container flex layout="column">
                <md-select flex name="editTaskServiceId"
                    ng-model="ctrl.task.serviceId" required placeholder="Select a Service">
                    <md-option ng-value="opt" ng-repeat="opt in ['codeSchool', 'codeCombat', 'treeHouse', 'singPath']">
                        {{opt}}
                    </md-option>
                </md-select>
                <div ng-messages="editTask.editTaskServiceId.$error">
                    <div ng-message="required">A challenge needs a service id.</div>
                </div>
            </md-input-container>
            <md-input-container flex layout="column" ng-if="ctrl.task.serviceId &amp;&amp; ctrl.task.serviceId != 'singPath'">
                <md-select flex name="editTaskBadge"
                    ng-model="ctrl.task.badge"
                    placeholder="Select a badge (optional)"
                >
                    <md-option ng-value="badge" ng-repeat="badge in ctrl.badges[ctrl.task.serviceId]">
                        {{badge.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout="row" ng-if="ctrl.task.serviceId == 'singPath'">
            <md-input-container flex layout="column">
                <md-select flex name="editTaskSingPathPath"
                    ng-model="ctrl.task.singPathProblem.path"
                    placeholder="Select a Path (optional)"
                >
                    <md-option ng-value="opt" ng-repeat="opt in ctrl.singPath.paths">
                        {{opt.title}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex layout="column" ng-if="ctrl.task.singPathProblem.path">
                <md-select flex name="editTaskSingPathLevel"
                    ng-model="ctrl.task.singPathProblem.level"
                    required
                    md-on-open="ctrl.loadLevels(ctrl.task.singPathProblem)"
                    placeholder="Select a Level"
                >
                    <md-option ng-value="opt" ng-repeat="opt in ctrl.singPath.levels">
                        {{opt.title}}
                    </md-option>
                </md-select>
                <div ng-messages="editTask.editTaskSingPathLevel.$error">
                    <div ng-message="required">A challenge needs a service id.</div>
                </div>
            </md-input-container>
            <md-input-container flex layout="column" ng-if="ctrl.task.singPathProblem.level">
                <md-select flex name="editTaskSingPathProblem"
                    ng-model="ctrl.task.singPathProblem.problem"
                    required
                    md-on-open="ctrl.loadProblems(ctrl.task.singPathProblem)"
                    placeholder="Select a Problem"
                >
                    <md-option ng-value="opt" ng-repeat="opt in ctrl.singPath.problems">
                        {{opt.title}}
                    </md-option>
                </md-select>
                <div ng-messages="editTask.editTaskSingPathProblem.$error">
                    <div ng-message="required">A challenge needs a service id.</div>
                </div>
            </md-input-container>
        </div>

        <div ng-if="ctrl.taskType == 'linkPattern'">
            <md-input-container>
                <label for="edit-link-pattern">Link pattern</label>
                <input type="text" name="editTaskLink" id="edit-link-pattern"
                    ng-model="ctrl.task.linkPattern"
                    required="true"
                    placeholer="Pattern"
                />
                <div ng-messages="editTask.editTaskLink.$error">
                    <div ng-message="required">Required.</div>
                </div>
            </md-input-container>
        </div>

        <div ng-if="ctrl.taskType == 'textResponse'">
            <md-input-container>
                <label for="edit-text-esponse">Question</label>
                <input type="text" name="editTextResponse" id="edit-text-esponse"
                    ng-model="ctrl.task.textResponse"
                    required="true"
                    placeholer="Question"
                />
                <div ng-messages="editTask.editTextResponse.$error">
                    <div ng-message="required">Required.</div>
                </div>
            </md-input-container>
        </div>

        <div layout="row" layout-align="center center">
            <md-button type="submit" class="md-raised md-primary" ng-disabled="editTask.$invalid || !ctrl.taskType ||ctrl.savingTask">Save</md-button>
            <md-button type="reset" class="md-raised" ng-href="#{{ 'editEvent' | urlFor: {eventId: ctrl.event.$id} }}">Back</md-button>
        </div>

    </form>
</md-content>
