<md-content flex class="md-padding">
    <p ng-show="!ctrl.events || ctrl.events.length == 0">No event.</p>

    <md-list class="path-list">
        <md-list-item class="md-2-line" ng-repeat="e in (ctrl.events | orderBy:'createdAt':true) track by e.$id">
            <div class="md-list-item-text">
                <h3>
                    <a href="#{{ 'oneEvent' | urlFor: {eventId: e.$id} }}">{{e.title}}</a>
                </h3>
                <h4>created by {{e.owner.displayName}} ({{e.createdAt|date}})</h4>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>

</md-content>
