<md-content flex class="md-padding">
    <h3>
        Created by {{ ctrl.event.owner.displayName }}
        on {{ ctrl.event.createdAt | date}}
    </h3>

    <h3>Tasks</h3>
    <table class="events">
        <thead>
            <tr>
                <th>
                   Challenge
                </th>
                <th ng-if="ctrl.event.tasks | spfEmpty">
                    <em>No challenge</em>
                </th>
                <th ng-repeat="task in ctrl.event.tasks">
                    {{ task.title }}
                </th>
            </tr>
            <tr>
                <th>
                   Details
                </th>
                <td ng-repeat="task in ctrl.event.tasks">
                    {{ task.description }}
                </td>
            </tr>
            <tr>
                <th>
                    Help
                </th>
                <td ng-repeat="task in ctrl.event.tasks">
                    <a ng-href="{{task.link}}" ng-if="task.link">More details</a>
                </td>
            </tr>
            <tr>
                <th>
                    Completed
                </th>
                <td ng-repeat="(taskId, task) in ctrl.event.tasks">
                    {{ctrl.completed(taskId) | number: 0}} %
                </td>
            </tr>
            <tr>
                <th>
                   Class Participants
                </th>
                <td ng-repeat="task in ctrl.event.tasks"></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(publicId, participant) in ctrl.participants" ng-class="'index-' + $index">
                <th>{{ participant.user.displayName }}</th>
                <td ng-repeat="(taskId, task) in ctrl.event.tasks">
                    <span ng-if="participant.tasks[taskId].completed">Completed</span>
                    <span ng-if="!participant.tasks[taskId].completed &amp;&amp; ctrl.currentUser.publicId == participant.$id">
                        <a class="md-raised md-primary" ng-href="{{ctrl.startLink(task)}}" target="_blank">
                            Start challenge
                        </a>
                    </span>
                </td>
            </tr>
            <tr ng-if="ctrl.participants | spfEmpty">
                <td>No participants</td>
            </tr>
        </tbody>
    </table>
</md-content>
