<md-dialog aria-label="Prompt password">
    <form name="promptPassword" ng-submit="ctrl.join(ctrl.pw)">
        <md-dialog-content class="sticky-container">
            <md-subheader class="md-sticky-no-effect">Event password</md-subheader>
            <div>
                <md-input-container>
                    <label for="edit-task-name">Password</label>
                    <input type="password" name="editTaskTitle" id="edit-task-name"
                        ng-model="ctrl.pw"
                        required="required"
                        placeholer="Event password"
                        />
                </md-input-container>
            </div>
    
        <div class="md-actions">
            <md-button class="md-raised md-primary">
                Ok
            </md-button>
            <md-button ng-click="ctrl.closeDialog()" type="button" class="md-accent">
                cancel
            </md-button>
        </div>
    </form>
</md-dialog>