<md-dialog aria-label="Prompt password">
    <md-content>
        <form name="promptPassword" ng-submit="ctrl.join(ctrl.pw)">
            <h2>Event password</h2>
            <div>
                <md-input-container>
                    <label for="edit-task-name">Password</label>
                    <input type="password" name="editTaskTitle" id="edit-task-name"
                        ng-model="ctrl.pw"
                        required="required"
                        placeholer="Event password"
                        />
                </md-input-container>
            </div>
        </form>
    </md-content>
    <div class="md-actions">
        <md-button ng-click="ctrl.join(ctrl.pw)" class="md-raised md-primary">
            Ok
        </md-button>
        <md-button ng-click="ctrl.closeDialog()" class="md-raised">
            cancel
        </md-button>
    </div>
</md-dialog>