<md-content flex class="md-padding">
    <h2 hide show-sm>
        {{ ctrl.event.title }}
    </h2>

    <form name="editEventForm" ng-submit="ctrl.save(ctrl.currentUser, ctrl.event, ctrl.newPassword, editEventForm)">
        <md-input-container>
            <label for="event-title">Event Name</label>
            <input name="eventTitle" type="text" id="event-title" ng-model="ctrl.event.title" ng-minlength="3" ng-maxlength="60" required="true"/>
            <div ng-messages="editEventForm.eventTitle.$error">
                <div ng-message="required">An event should have a name.</div>
                <div ng-message="minlength">An event name shouldn't be shorten than 3 characters.</div>
                <div ng-message="maxlength">An event name shouldn't be longer than 60 characters.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label for="event-pw">New Password</label>
            <input name="eventPw" type="text" id="event-pw" ng-model="ctrl.newPassword" />
            <div ng-messages="editEventForm.eventPw.$error">
            </div>
        </md-input-container>

        <md-progress-circular ng-show="ctrl.savingEvent" md-mode="indeterminate" style="margin: 16px auto"></md-progress-circular>

        <div layout="row" layout-align="center center">
            <md-button type="submit" class="md-raised md-primary" ng-disabled="editEventForm.$pristine || editEventForm.$invalid || ctrl.savingEvent">Save</md-button>
            <md-button type="reset" class="md-raised" ng-click="ctrl.reset(editEventForm)" ng-disabled="ctrl.savingEvent || editEventForm.$pristine">Reset</md-button>
        </div>
    </form>
        
    <md-divider></md-divider>

    <md-list>
        <md-subheader class="md-no-sticky">{{ ctrl.tasks | spfLength }} challenges</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="task in ctrl.tasks track by task.$id" ng-if="!task.archived">
            <div class="md-list-item-text">
                <h3>
                    {{ task.title }}
                    <span ng-if="task.closedAt">(closed)</span>
                    <span ng-if="task.openedAt">(opened)</span>
                </h3>
                <h4>{{ task.description }}</h4>
                <p ng-if="task.badge.id">{{ task.badge.name}}</p>
            </div>

            <div layout="row">
                <md-button ng-href="#{{ 'editEventTask'|urlFor: {eventId: ctrl.event.$id, taskId: task.$id} }}" layout layout-align="center center" class="md-raised md-primary" aria-label="Edit">
                    <md-icon md-svg-icon="create"></md-icon>
                    Edit
                </md-button>
                <md-button ng-click="ctrl.openTask(ctrl.event.$id, task.$id)"
                    ng-if="task.closedAt"
                    layout layout-align="center center" class="md-raised md-primary"
                    aria-label="open"
                >
                    <md-icon md-svg-icon="done"></md-icon>
                    Open
                </md-button>
                <md-button ng-click="ctrl.closeTask(ctrl.event.$id, task.$id)"
                    ng-if="task.openedAt"
                    layout layout-align="center center" class="md-raised md-primary"
                    aria-label="open"
                >
                    <md-icon md-svg-icon="clear"></md-icon>
                    Close
                </md-button>
                <md-button ng-click="ctrl.showTask(ctrl.event.$id, task.$id)"
                    ng-if="task.hidden"
                    layout layout-align="center center" class="md-raised md-primary"
                    aria-label="open"
                >
                    <md-icon md-svg-icon="done"></md-icon>
                    Show
                </md-button>
                <md-button ng-click="ctrl.hideTask(ctrl.event.$id, task.$id)"
                    ng-if="!task.hidden"
                    layout layout-align="center center" class="md-raised md-primary"
                    aria-label="open"
                >
                    <md-icon md-svg-icon="clear"></md-icon>
                    Hide
                </md-button>
                <md-button ng-click="ctrl.archiveTask(ctrl.event.$id, task.$id)"
                    layout layout-align="center center" class="md-raised md-primary"
                    aria-label="open"
                >
                    <md-icon md-svg-icon="clear"></md-icon>
                    Archive
                </md-button>
            </div>

            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>

</md-content>
