<md-dialog aria-label="{{ctrl.task.title}}">
    <form name="provideResponseForm" ng-submit="ctrl.save(ctrl.solution)">
        <md-dialog-content class="sticky-container">
            <md-subheader class="md-sticky-no-effect">{{ctrl.task.title}}</md-subheader>
            <div>
                <p>{{ctrl.task.description}}</p>
                <md-input-container>
                    <label for="edit-solution-response">{{ctrl.task.textResponse}}</label>
                    <input type="text" name="linkSolution" id="edit-solution-response"
                        ng-model="ctrl.solution"
                        required="true"
                        placeholer="URL to provide"
                    />
                    <div ng-messages="provideResponseForm.linkSolution.$error">
                        <div ng-message="required">Required.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button class="md-primary md-raised" ng-disabled="!provideResponseForm.$valid">
                Save
            </md-button>
            <md-button ng-click="ctrl.cancel()" type="button" class="md-accent">Cancel</md-button>
        </div>
    </form>
</md-dialog>
