<md-content flex class="md-padding">
    <h3>
        Created by {{ ctrl.event.owner.displayName }}
        on {{ ctrl.event.createdAt | date}}
    </h3>

    <h3>Tasks</h3>
    <table class="events">
        <thead>
            <tr>
                <th>
                   Challenge
                </th>
                <th ng-if="ctrl.event.tasks | spfEmpty">
                    <em>No challenge</em>
                </th>
                <th ng-repeat="task in ctrl.event.tasks">
                    {{ task.title }}
                </th>
            </tr>
            <tr>
                <th>
                   Description
                </th>
                <td ng-repeat="task in ctrl.event.tasks">
                    {{ task.description }}
                </td>
            </tr>
            <tr>
                <th>
                   Participants
                </th>
                <td ng-repeat="task in ctrl.event.tasks"></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="participant in ctrl.participants" ng-class="'index-' + $index">
                <th>{{ participant.user.displayName }}</th>
                <td ng-repeat="(taskId, task) in ctrl.event.tasks">
                    <span ng-switch on="participant.tasks[taskId].completed">
                        <span ng-switch-when="true">
                            Completed
                        </span>
                        <span ng-switch-default>
                            <a ng-href="{{task.link}}" ng-if="task.link">link</a>
                        </span>
                    </span>
                </td>
            </tr>
            <tr ng-if="ctrl.participants | spfEmpty">
                <td>No participants</td>
            </tr>
        </tbody>
    </table>
</md-content>
