<md-content flex class="md-padding">
    <h3>
        Created by {{ ctrl.event.owner.displayName }}
        on {{ ctrl.event.createdAt | date}}
    </h3>

    <md-tabs md-dynamic-height="true" md-border-bottom="true">
        <md-tab label="Challenges" ng-disabled="!ctrl.participants">
            <md-content layout-padding>
                <table class="events tasks" ng-if="ctrl.participants">
                    <thead>
                        <tr>
                            <th>
                               Challenge
                            </th>
                            <th ng-if="ctrl.visibleTasks() == 0">
                                <em>No challenge</em>
                            </th>
                            <th ng-repeat="task in ctrl.tasks" ng-if="!task.hidden">
                                {{ task.title }}
                            </th>
                        </tr>
                        <tr>
                            <th>
                               Details
                            </th>
                            <td ng-repeat="task in ctrl.tasks" ng-if="!task.hidden">
                                {{ task.description }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Help
                            </th>
                            <td ng-repeat="task in ctrl.tasks" ng-if="!task.hidden">
                                <a ng-href="{{task.link}}" ng-if="task.link" target="_blank">More details</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Completed
                            </th>
                            <td ng-repeat="(taskId, task) in ctrl.tasks" ng-if="!task.hidden">
                                {{ctrl.completed(taskId, ctrl.participants, ctrl.progress) | number: 0}} %
                            </td>
                        </tr>
                        <tr>
                            <th>
                               Participants
                            </th>
                            <td ng-repeat="task in ctrl.tasks" ng-if="!task.hidden"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(publicId, participant) in ctrl.participants" ng-class="'index-' + $index + ' ' + ($index % 2 == 0? 'even' : 'odd')">
                            <th layout="row" layout-align="start center">
                                <md-button ng-href="#{{ 'profile' | urlFor:{'publicId': participant.$id} }}">
                                    {{ participant.user.displayName }}
                                </md-button>
                                <span ng-if="ctrl.currentUser.publicId == participant.$id">
                                    <md-button class="md-icon-button md-primary small-icon" aria-label="Update" ng-click="ctrl.update(ctrl.event, ctrl.tasks, ctrl.currentUserSolutions, ctrl.profile, ctrl.currentUserStats.progress)">
                                        <md-icon md-svg-icon="loop"></md-icon>
                                    </md-button>
                                </span>
                            </th>
                            <td ng-repeat="(taskId, task) in ctrl.tasks" ng-if="!task.hidden">
                                <div ng-if="task.serviceId">
                                    <span ng-if="participant.$id == ctrl.currentUser.publicId || ctrl.currentUser.publicId == ctrl.event.owner.publicId || task.showProgress">
                                        <span ng-if="ctrl.progress[participant.$id][taskId].completed">
                                            Complete
                                        </span>
                                        <span ng-if="!ctrl.progress[participant.$id][taskId].completed">
                                            <span ng-if="participant.$id == ctrl.currentUser.publicId">
                                                <span ng-if="ctrl.currentUserProgress[taskId].completed">
                                                    Complete
                                                </span>
                                                <span ng-if="!ctrl.currentUserProgress[taskId].completed &amp;&amp; ctrl.currentUserStats.progress[taskId].completed">
                                                    Complete*
                                                </span>
                                                <span ng-if="!ctrl.currentUserProgress[taskId].completed &amp;&amp; !ctrl.currentUserStats.progress[taskId].completed">
                                                    <md-button class="md-raised md-primary" 
                                                        ng-href="{{ctrl.startLink(task, ctrl.profile)}}" 
                                                        target="_blank"
                                                        ng-disabled="task.closedAt"
                                                    >
                                                        <span ng-switch on="ctrl.mustRegister(task, ctrl.profile)">
                                                            <span ng-switch-when="true">Register</span>
                                                            <span ng-switch-default>Start challenge</span>
                                                        </span>
                                                    </md-button>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </div>

                                <div ng-if="task.textResponse">
                                    <span ng-if="participant.$id == ctrl.currentUser.publicId">
                                        <span ng-if="ctrl.currentUserProgress[taskId].completed &amp;&amp; ctrl.solutions[participant.$id][taskId]">
                                            {{ ctrl.solutions[participant.$id][taskId] | cmTruncate: 10 }}
                                            <md-button class="md-icon-button md-primary small-icon"
                                                aria-label="Update response"
                                                ng-click="ctrl.promptForTextResponse(ctrl.event.$id, taskId, task, participant, ctrl.currentUserSolutions)"
                                                ng-if="task.openedAt"
                                            >
                                                <md-icon md-svg-icon="create"></md-icon>
                                            </md-button>
                                        </span>
                                        <span ng-if="!ctrl.currentUserProgress[taskId].completed &amp;&amp; ctrl.currentUserStats.progress[taskId].completed &amp;&amp; ctrl.solutions[participant.$id][taskId]">
                                            {{ ctrl.solutions[participant.$id][taskId] | cmTruncate: 10 }}*
                                            <md-button class="md-icon-button md-primary small-icon"
                                                aria-label="Update response"
                                                ng-click="ctrl.promptForTextResponse(ctrl.event.$id, taskId, task, participant, ctrl.currentUserSolutions)"
                                                ng-if="task.openedAt"
                                            >
                                                <md-icon md-svg-icon="create"></md-icon>
                                            </md-button>
                                        </span>
                                        <span ng-if="!ctrl.currentUserProgress[taskId].completed &amp;&amp; !ctrl.currentUserStats.progress[taskId].completed">
                                            <md-button class="md-raised md-primary"
                                                aria-label="Submit response"
                                                ng-click="ctrl.promptForTextResponse(ctrl.event.$id, taskId, task, participant, ctrl.currentUserSolutions)"
                                                ng-disabled="task.closedAt"
                                            >
                                                Submit Response
                                            </md-button>
                                        </span>
                                        </md-button>
                                    </span>
                                    <span ng-if="ctrl.progress[participant.$id][taskId].completed &amp;&amp; participant.$id != ctrl.currentUser.publicId">
                                        <span ng-if="task.showProgress &amp;&amp; !task.showLinks &amp;&amp; ctrl.currentUser.publicId != ctrl.event.owner.publicId">
                                            complete
                                        </span>
                                        <span ng-if="((ctrl.solutions[participant.$id][taskId] &amp;&amp; task.showLinks) || ctrl.currentUser.publicId == ctrl.event.owner.publicId) &amp;&amp; ctrl.solutions[participant.$id][taskId]">
                                            {{ ctrl.solutions[participant.$id][taskId] | cmTruncate: 10 }}
                                        </span>
                                    </span>
                                </div>

                                <div ng-if="task.linkPattern">
                                    <span ng-if="participant.$id == ctrl.currentUser.publicId">
                                        <span ng-if="ctrl.currentUserProgress[taskId].completed">
                                            <a ng-href="{{ctrl.currentUserSolutions[taskId]}}" target="_blank">Complete</a>
                                            <md-button class="md-icon-button md-primary small-icon"
                                                aria-label="Update link"
                                                ng-click="ctrl.promptForLink(ctrl.event.$id, taskId, task, participant, ctrl.currentUserSolutions)"
                                                ng-if="task.openedAt"
                                            >
                                                <md-icon md-svg-icon="create"></md-icon>
                                            </md-button>
                                        </span>
                                        <span ng-if="!ctrl.currentUserProgress[taskId].completed &amp;&amp; ctrl.currentUserStats.progress[taskId].completed">
                                            <a ng-href="{{ctrl.currentUserSolutions[taskId]}}" target="_blank">Complete*</a>
                                            <md-button class="md-icon-button md-primary small-icon"
                                                aria-label="Update link"
                                                ng-click="ctrl.promptForLink(ctrl.event.$id, taskId, task, participant, ctrl.currentUserSolutions)"
                                                ng-if="task.openedAt"
                                            >
                                                <md-icon md-svg-icon="create"></md-icon>
                                            </md-button>
                                        </span>
                                        <span ng-if="!ctrl.currentUserProgress[taskId].completed &amp;&amp; !ctrl.currentUserStats.progress[taskId].completed">
                                            <md-button class="md-raised md-primary"
                                                aria-label="Submit link"
                                                ng-click="ctrl.promptForLink(ctrl.event.$id, taskId, task, participant, ctrl.currentUserSolutions)"
                                                ng-disabled="task.closedAt"
                                            >
                                                Submit Link
                                            </md-button>
                                        </span>
                                        </md-button>
                                    </span>
                                    <span ng-if="ctrl.progress[participant.$id][taskId].completed &amp;&amp; participant.$id != ctrl.currentUser.publicId">
                                        <span ng-if="task.showProgress &amp;&amp; !task.showLinks &amp;&amp; ctrl.currentUser.publicId != ctrl.event.owner.publicId">complete</span>
                                        <a ng-if="(ctrl.solutions[participant.$id][taskId] &amp;&amp; task.showLinks) || ctrl.currentUser.publicId == ctrl.event.owner.publicId" ng-href="{{ctrl.solutions[participant.$id][taskId]}}" target="_blank">complete</a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="ctrl.participants | spfEmpty">
                            <td>No participants</td>
                        </tr>
                    </tbody>
                </table>
            </md-content>
        </md-tab>

        <md-tab label="Ranking">
            <md-content layout-padding>
                <table class="events ranking">
                    <thead>
                        <tr ng-class="{'reversed': ctrl.reverseOrder}">
                            <th>
                                #
                            </th>
                            <th ng-class="{orderer: ctrl.orderKey == 'user.displayName'}">
                                <md-button ng-click="ctrl.orderBy('user.displayName')">Participants</md-button>
                            </th>
                            <th ng-class="{orderer: ctrl.orderKey == 'user.school.name'}" ng-if="ctrl.event.schoolEvent">
                                <md-button ng-click="ctrl.orderBy('user.school.name')">School</md-button>
                            </th>
                            <th ng-class="{orderer: ctrl.orderKey == '$rankInSchool'}" ng-if="ctrl.event.schoolEvent">
                                <md-button ng-click="ctrl.orderBy('$rankInSchool')">Rank in School</md-button>
                            </th>
                            <th ng-class="{orderer: ctrl.orderKey == 'total'}">
                                <md-button ng-click="ctrl.orderBy('total')">Total</md-button>
                            </th>
                            <th ng-class="{orderer: ctrl.orderKey == 'codeCombat'}">
                                <md-button ng-click="ctrl.orderBy('codeCombat')">Code Combat Badges</md-button>
                            </th>
                            <th ng-class="{orderer: ctrl.orderKey == 'codeSchool'}">
                                <md-button ng-click="ctrl.orderBy('codeSchool')">Code School Badges</md-button>
                            </th>
                            <th ng-class="{orderer: ctrl.orderKey == 'singPath'}">
                                <md-button ng-click="ctrl.orderBy('singPath')">SingPath Problems</md-button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th colspan="5" ng-if="(ctrl.ranking|spfEmpty)">
                                No participants
                            </th> 
                        </tr>
                        <tr ng-repeat="participant in (ctrl.ranking | spfToArray | orderBy:ctrl.orderKey:ctrl.reverseOrder)" ng-class="'index-' + $index + ' ' + ($index % 2 == 0? 'even' : 'odd')">
                            <th>
                                {{ $index + 1 }}
                            </th>
                            <th>
                                <!-- spfToArray adds the $$hashKey property to every element in the object -->
                                <md-button ng-href="#{{ 'profile' | urlFor:{'publicId': participant.$$hashKey} }}">
                                    {{ participant.user.displayName }}
                                </md-button>
                            </th>
                            <td ng-if="ctrl.event.schoolEvent">{{ participant.user.school.name }}</td>
                            <td ng-if="ctrl.event.schoolEvent">{{ participant.$rankInSchool || 'N/A'}}</td>
                            <td>{{ participant.total || 0}}</td>
                            <td>{{ participant.codeCombat || 0 }}</td>
                            <td>{{ participant.codeSchool || 0 }}</td>
                            <td>{{ participant.singPath || 0 }}</td>
                        </tr>
                    </tbody>
                </table>

            </md-content>
        </md-tab>
    </md-tabs>

    <md-content ng-if="ctrl.currentUser &amp;&amp; !ctrl.profile" layout-padding>
        <md-divider></md-divider>
        <p>To join this event, you first need to register:</p>

        <form name="registerForm" ng-submit="ctrl.register(ctrl.currentUser, registerForm)">
            <spf-sign-form current-user="ctrl.currentUser"></spf-sign-form>

            <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-raised md-primary" ng-disabled="registerForm.$invalid">
                    Save
                </md-button>
            </div>
        </form>
    </md-content>
</md-content>
